{% load wagtailimages_tags %}

<figure>
    {% if image_absolute_url %}
        {# Usado quando renderizado via API para o cliente #}
        <img src="{{ image_absolute_url }}" alt="{{ value.caption|default:value.image.title }}">
    {% else %}
        {# Fallback para renderização local #}
        {% image value.image original as img %}
        <img src="{{ img.url }}" alt="{{ img.alt }}">
    {% endif %}
    {% if value.caption %}<figcaption>{{ value.caption }}</figcaption>{% endif %}
</figure>
