{% load wagtailimages_tags %}
{% load text_filters %}

{% block card %}
<div
    class="linha-do-tempo__item"
    data-index="{{ index }}"
    data-last="{{ last_index }}"
>
    <div class="linha-do-tempo-item-row">
        <svg class="linha-do-tempo-calendar-group left"
            viewBox="0 0 104 104"
            width="104"
            height="104"
        >
            <circle class="calendar-circle"
                cx="52"
                cy="52"
                r="30"
            />
        </svg>
        <i class="bi-calendar3 linha-do-tempo-calendar-group calendar-icon left" ></i>
            <div class="arrow left animate"></div>
            <div
                {% if card.detail_page %}
                    onClick="window.location.href = '{{ card.detail_page.url }}'"
                    class="card-linha-do-tempo animate mouse-pointer"
                {% else %}
                    class="card-linha-do-tempo animate"
                {% endif %}
            >
                <div class="card-linha-do-tempo__image">
                    {% image card.imagem width-400 alt=card.texto_alternativo|default:"Não especificado" %}
                </div>
                <div class="card-linha-do-tempo__content text-center">
                    <h3 class="card-linha-do-tempo__title">
                        {% firstof card.titulo card.title %}
                    </h3>
                    {% comment %} <p class="card-linha-do-tempo__date">{{ card.data|date:"d/m/Y" }}</p> {% endcomment %}
                    <div class="card-linha-do-tempo__description-wrapper">
                        {% with card.descricao_linha_do_tempo|default_if_none:'' as html %}
                            {% with html|striptags as plain %}
                                <p lang="pt-BR" class="card-linha-do-tempo__description">{{ plain }}</p>
                            {% endwith %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="arrow right animate"></div>
        <i class="bi-calendar3 linha-do-tempo-calendar-group calendar-icon right"></i>
        <svg class="linha-do-tempo-calendar-group right"
            viewBox="0 0 104 104"
            width="104"
            height="104"
        >
            <circle class="calendar-circle"
                cx="52"
                cy="52"
                r="30"
            />
        </svg>
    </div>
    <script id="timeline-script-{{ index }}" class="timeline-script">

        (function() {
            const script = document.getElementById('timeline-script-{{ index }}');
            const item = script.closest('.linha-do-tempo__item');
            if (!item) return;

            const index = parseInt(item.dataset.index, 10);
            const last = parseInt(item.dataset.last, 10);

            // cálculo do índice dos card na linha do tempo pares avançam 1 enquanto ímpares avançam 2
            const isEven = index % 2 == 0;
            const segmentLength = isEven ? 1 : 2;

            const position = isEven ? 3*(index / 2) : 3*(((index - 1) / 2)) + 1;
            //const next = position + segmentLength;
            const final = last % 2 == 0 ? 3*(last / 2) : 3*(((last - 1) / 2)) + 1;

            const offSet = ((final - segmentLength) - position);

            const percentageStart = ((position / final) * 100) + offSet;
            // const percentageEnd = ((next / final) * 100) + offSet;
            const percentage = percentageStart;

            const percentageCorrectionFactor = segmentLength / final;

            const icons = item.querySelectorAll('.linha-do-tempo-calendar-group.calendar-icon');
            icons.forEach(icon => {
                icon.style.setProperty('--index', index);
                icon.style.setProperty('--percentageRange', `${percentage}%`);
                icon.style.setProperty('--percentageCorrectionFactor', percentageCorrectionFactor);
            });

            const getRevealedPercentage = () => {
                const raw = getComputedStyle(document.documentElement).getPropertyValue('--reveal-percentage');
                return parseFloat(raw) || 0;
            }

            const svgs  = item.querySelectorAll('svg.linha-do-tempo-calendar-group');

            [...icons, ...svgs].forEach(el => {
                el.setAttribute('data-percentage', String(percentage)); // store as number string without %
            });

            const checkIcons = () => {
                const current = getRevealedPercentage();
                // Muda propriedade de ícones e svg a fim de alterar seu estilo quando tocados pela linha central
                [...icons, ...svgs].forEach(el => {
                    const target = parseFloat(el.getAttribute('data-percentage')) || 0;
                    el.classList.toggle('reached-by-line', current >= target);
                });
            };

            window.addEventListener('load', checkIcons, { passive: true });
            window.addEventListener('scroll', checkIcons, { passive: true });
            window.addEventListener('resize', checkIcons, { passive: true });
        })();
    </script>
</div>
{% endblock %}