{% load wagtailimages_tags %}
<div class="linha-do-tempo__item">
    <div class="linha-do-tempo-item-row">
        <svg class="linha-do-tempo-calendar-group left" viewBox="0 0 64 64" width="64" height="64">
            <circle cx="32" cy="32" r="30" fill=""/>
        </svg>
        <i class="bi-calendar3 linha-do-tempo-calendar-group calendar-icon left"></i>
            <div class="arrow left"></div>
            <div class="card-linha-do-tempo">
                <div class="card-linha-do-tempo__image">
                    {% image card.imagem width-400 alt=card.texto_alternativo|default:card.titulo %}
                </div>
                <div class="card-linha-do-tempo__content text-center">
                    <h3 class="card-linha-do-tempo__title">
                        <a href="{% if card.internal_page %}{{ card.internal_page.url }}{% else %}{{ card.external_url }}{% endif %}">
                            {{ card.titulo }}
                        </a>
                    </h3>
                    <p class="card-linha-do-tempo__date">{{ card.data|date:"d/m/Y" }}</p>
                    <p class="card-linha-do-tempo__description">{{ card.descricao }}</p>
                </div>
            </div>
            <div class="arrow right"></div>
        <i class="bi-calendar3 linha-do-tempo-calendar-group calendar-icon right"></i>
        <svg class="linha-do-tempo-calendar-group right" viewBox="0 0 64 64" width="64" height="64">
            <circle cx="32" cy="32" r="30" fill="" />
        </svg>
    </div>
</div>