<div class="carrossel-banners">
  <div class="swiper-wrapper">
    {% for banner in value.banners %}
      <div class="swiper-slide">
        {% include 'blocks/item_carrossel_banner.html' with value=banner %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination swiper-banners-pagination"></div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  new Swiper('.carrossel-banners', {
    slidesPerView: 1,
    centeredSlides: true, // Centraliza o slide ativo
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-banners-pagination',
      clickable: true,
    }
  });
});
</script>