{% load wagtailimages_tags %}

<div class="linha-do-tempo">
    <div class="container">
        <div class="titulo-container text-center">
            {% if value.titulo %}
                {% include 'include/titulo.html' with titulo=value.titulo bgClass='' %}
            {% else %}
                <h2 class="titulo-1">Linha do Tempo</h2>
            {% endif %}
        </div>
        <div class="linha-do-tempo-cards-container">
            {% for card in value.cards %}
            {% if not forloop.counter|divisibleby:2 %}
                <div class="row block-linha-do-tempo">
            {% endif %}
                {% include 'blocks/card_linha_do_tempo.html' with cardlinhadotempo=card %}
                {% if forloop.last or forloop.counter|divisibleby:2 %}
                {{ forloop.counter }}
                </div>
            {% endif %}
            {% empty %}
                <p>Nenhum card adicionado à linha do tempo.</p>
            {% endfor %}
        </div>
    </div>
</div>
