{% load wagtailimages_tags %}

<div class="container programas">
  {% include 'include/titulo.html' with titulo=self.titulo bgClass='' %}
  <div class="row g-2">
    {% for item in value.itens %}
      <div class="col-8 col-md-3">
        <a href="{{ item.link }}" target="_blank" aria-label="{{ item.titulo }}">
          {% image item.imagem fill-350x200 alt=item.titulo %}
        </a>
      </div>
    {% endfor %}
  </div>

  {% if value.link_ver_todos %}
    {% include "include/ver_todos_btn.html" with ver_todos_url=value.link_ver_todos %}
  {% endif %}
</div>
