{% load wagtailcore_tags wagtailimages_tags static %}

<section class="mural-eventos">
  <div class="container text-center">
    {% include 'include/titulo.html' with titulo=self.titulo bgClass='' %}

    <div class="eventos-wrapper row justify-content-start">
      {% for evento in eventos|slice:":6" %}
        <a class="col-12 col-lg-4 col-md-6" href="{% pageurl evento %}" style="text-decoration: none; color: inherit;">
          <div class="evento-card">
            <h3 class="evento-title">
              {{ evento.title }}
            </h3>

            <div class="evento-desc-row">
              <div class="icon-col">
                <i class="bi bi-calendar-event"></i>
              </div>
              <div class="desc-col">
                <p class="evento-descricao">
                  {{ evento.descricao|striptags|truncatechars:120 }}
                </p>
                {% if evento.data_publicacao %}
                  <p class="evento-data fw-bold">Data: {{ evento.data_publicacao|date:"d/m/Y" }}</p>
                {% endif %}
              </div>
            </div>

            {% if evento.data_publicacao %}
              <p class="evento-data fw-bold"></p>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>

    {% if eventos_index_page_url %}
      {% include "include/ver_todos_btn.html" with ver_todos_url=eventos_index_page_url %}
    {% endif %}
  </div>
</section>
