{% load wagtailcore_tags wagtailimages_tags static %}

<div class="noticias-wrap">
  <a href="{% pageurl noticias %}" class="text-decoration-none">
    <div class="noticias-conteudo tw:shadow-neutral-400 tw:ring-0 tw:bg-white">
      <div class="col d-flex justify-content-center justify-content-md-start">
          <p class="noticias-conteudo--data tw:text-white">{{ noticias.data_publicacao|date:"d/m/Y" }}</p>
      </div>
      <div class="col d-flex justify-content-center mb-0 heading-mobile d-flex d-sm-none">
        <h2 class="noticias-conteudo--heading{% if not noticias.get_imagem_destaque %} semImagem{% endif %} heading-desktop">
          <strong>
            <div class="noticias-title-wrapper">
              {{ noticias.title }}
            </div>
          </strong>
        </h2>
      </div>
      {% if noticias.get_imagem_destaque %}
          <div class="noticias-conteudo--imagem"> 
            {% picture noticias.get_imagem_destaque format-{avif,webp,jpeg} fill-322x247 loading="lazy" %}
          </div>
      {% else %}
          <div class="noticias-conteudo--imagem semImagem">
            <img src="{% static 'img/img_noticia_default.png' %}" alt="{{ noticias.title }}" class="img-fluid"/>
          </div>
      {% endif %}
      
      <div class="noticias-conteudo--body">
        <div class="noticias-conteudo--heading{% if not noticias.get_imagem_destaque %} semImagem{% endif %}">
          <strong>
            <div class="noticias-title-wrapper">
              {{ noticias.title | safe }}
            </div>
          </strong>
        </div>
        <p
          class="noticias-descricao text-body"
        >
          {{ noticias.descricao | safe }}
        </p>
      </div>
    </div>
  </a>
</div>