{% load wagtailcore_tags wagtailimages_tags static %}

<script>
  const NOTICIAS_TITLE_WRAPPER = '.noticias-title-wrapper';
  const TITLE_BREAKPOINTS = [
    { maxWidth: 140, dataAttr: 'charsVvs', defaultChars: 38 },
    { maxWidth: 180, dataAttr: 'charsVs', defaultChars: 56 },
    { maxWidth: 295, dataAttr: 'charsSm', defaultChars: 60 },
    { maxWidth: 335, dataAttr: 'charsMd', defaultChars: 76 }, 
    { maxWidth: 350, dataAttr: 'charsMd', defaultChars: 84 }, 
    { maxWidth: 430, dataAttr: 'charsLg', defaultChars: 88 },
    { maxWidth: 480, dataAttr: 'charsVl', defaultChars: null}
  ];

  const NOTICIAS_DESC_ELEMENT = '.noticias-descricao';
  const DESC_BREAKPOINTS = [
    { maxWidth: 140, dataAttr: 'charsVvs', defaultChars: 45 },
    { maxWidth: 160, dataAttr: 'charsVs', defaultChars: 60 },
    { maxWidth: 180, dataAttr: 'charsSm', defaultChars: 100 },
    { maxWidth: 250, dataAttr: 'charsMd', defaultChars: 120 },
    { maxWidth: 300, dataAttr: 'charsLg', defaultChars: 135 },
    { maxWidth: 430, dataAttr: 'charsVl', defaultChars: 180 },
    { maxWidth: 450, dataAttr: 'charsVvl', defaultChars: 210 },
    { maxWidth: 480, dataAttr: 'charsXl', defaultChars: null}
  ];


  function truncateContent(breakpoints, elementClass) {
    const wrappers = document.querySelectorAll(elementClass);
    
    wrappers.forEach(wrapper => {
      const originalText = wrapper.dataset.originalValue;
      if (!originalText) return;
      
      const parentWidth = wrapper.parentElement.offsetWidth;
      
      const currentBreakpoint = breakpoints.find(bp => parentWidth <= bp.maxWidth) ?? originalText.length;
      
      const maxChars = wrapper.dataset[currentBreakpoint.dataAttr] 
        ? parseInt(wrapper.dataset[currentBreakpoint.dataAttr]) 
        : (currentBreakpoint.defaultChars || originalText.length);
      
      if (originalText.length > maxChars) {
        wrapper.textContent = originalText.substring(0, maxChars).trim() + '...';
      } else {
        wrapper.textContent = originalText;
      }
    });
  }
  
  let resizeTimeout;
  window.addEventListener('load', () => {
    truncateContent(TITLE_BREAKPOINTS, NOTICIAS_TITLE_WRAPPER);
    truncateContent(DESC_BREAKPOINTS, NOTICIAS_DESC_ELEMENT);
  });

  window.addEventListener('resize', () => {
    clearTimeout(resizeTimeout);
    resizeTimeout = setTimeout(() => {
      truncateContent(TITLE_BREAKPOINTS, NOTICIAS_TITLE_WRAPPER);
      truncateContent(DESC_BREAKPOINTS, NOTICIAS_DESC_ELEMENT);
    }, 30);
  });
</script>

<div class="noticias-wrap">
  <a href="{% pageurl noticias %}" class="text-decoration-none">
    <div class="noticias-conteudo tw:shadow-neutral-400 tw:ring-0 tw:bg-white">
      <div class="col d-flex justify-content-center justify-content-md-start">
          <p class="noticias-conteudo--data tw:text-white">{{ noticias.data_publicacao|date:"d/m/Y" }}</p>
      </div>
      <div class="col d-flex justify-content-center mb-0 heading-mobile d-flex d-sm-none">
        <h2 class="noticias-conteudo--heading{% if not noticias.get_imagem_destaque %} semImagem{% endif %} heading-desktop">
          <strong>
            <div class="noticias-title-wrapper"
              data-original-value="{{ noticias.title }}"
            >
              {{ noticias.title }}
            </div>
          </strong>
        </h2>
      </div>
      {% if noticias.get_imagem_destaque %}
          <div class="noticias-conteudo--imagem"> 
            {% picture noticias.get_imagem_destaque format-{avif,webp,jpeg} fill-322x247 loading="lazy" %}
          </div>
      {% else %}
          <div class="noticias-conteudo--imagem semImagem">
            <img src="{% static 'img/img_noticia_default.png' %}" alt="{{ noticias.title }}" class="img-fluid"/>
          </div>
      {% endif %}
      
      <div class="noticias-conteudo--body">
        <div class="noticias-conteudo--heading{% if not noticias.get_imagem_destaque %} semImagem{% endif %}">
          <strong>
            <div class="noticias-title-wrapper"
              data-original-value="{{ noticias.title }}"
            >
              {{ noticias.title | safe }}
            </div>
          </strong>
        </div>
        <p
          class="noticias-descricao text-body"
          data-original-value="{{ noticias.descricao }}"
        >
          {{ noticias.descricao | safe }}
        </p>
      </div>
    </div>
  </a>
</div>