<div>
  <div class="dado-monitoramento--layout">
    <div class="dado-monitoramento--wrapper">
      <span id="odometer-{{uuid|slugify}}" class="odometer dado-monitoramento--numero" data-odometer-value="{{ self.metabase_value }}"  >0</span>
      <span class="dado-monitoramento--descricao">{{id_card_text}}</span>
    </div>
    <div class="dado-monitoramento--separator-horizontal">
      <svg width="2" height="72" viewBox="0 0 2 72" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.00012 0.5L1.00012 72" stroke="white"/>
      </svg>
    </div>
    <div class="dado-monitoramento--separator-vertical">
      <svg width="133" height="3" viewBox="0 0 133 3" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 1.5H133" stroke-width="2"></path>
      </svg>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var element = document.getElementById("odometer-{{uuid|slugify}}");
    od = new Odometer({
      el: element,
      value: 0, // Initial value
      // Any option (other than auto and selector) can be passed in here
      format: '(.ddd),dd',
    });
    var hasRun = false;
    var observer = new IntersectionObserver(function(entries) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting && entry.intersectionRatio >= 0.8 && !hasRun) {
          hasRun = true;
          var value = element.getAttribute('data-odometer-value');
          element.innerHTML = value;
          observer.disconnect(); // Desconecta o observer após a primeira execução
        }
      });
    }, { threshold: 0.8 });
    observer.observe(element);
  });
</script>