{% load wagtailcore_tags wagtailimages_tags static %}

<div class="widget-container widget-avisos">
  <div class="container">
    {% include 'include/titulo.html' with titulo=self.titulo bgClass='' %}
    
    <div class="widget-lista">
      {% for aviso in avisos %}
        <a href="{{ aviso.get_url }}" class="widget-item">
          <div class="widget-item-barra"></div>
          <div class="widget-item-conteudo">
            <div class="widget-item-icone">
              <i class="bi bi-megaphone"></i>
            </div>
            <div class="widget-item-texto">
              <span class="widget-item-titulo">{{ aviso.title }}</span>
            </div>
            <div class="widget-item-seta">
              <i class="bi bi-chevron-right"></i>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
