<div class="acesso-rapido-wrapper">
  <div class="container acesso-rapido">
    
    {% include 'include/titulo.html' with titulo=self.titulo bgClassExtra='titulo-pequeno-mobile' %}

      <div class="lista-acessos-vertical">
        {% for item in value.itens %}
          <a href="{{ item.link }}" class="acesso-item-vertical d-flex align-items-center p-3 mb-3">
            <div class="barra-vertical"></div>
            <div class="icone-ellipse d-flex align-items-center justify-content-center me-3">
              {% if item.icone %}
                <i class="{{ item.icone }}"></i>
              {% else %}
                <i class="fa-regular fa-file-lines"></i>
              {% endif %}
            </div>
            <div class="acesso-texto-vertical">
              {{ item.titulo|linebreaksbr }}
            </div>
          </a>
        {% endfor %}
      </div>
  </div>
</div>