<div class="widget-container widget-acesso-rapido">
  <div class="container">
    {% include 'include/titulo.html' with titulo=self.titulo bgClassExtra='titulo-pequeno-mobile' %}

    <div class="widget-lista">
      {% for item in value.itens %}
        <a href="{{ item.link }}" class="widget-item">
          <div class="widget-item-barra"></div>
          <div class="widget-item-conteudo">
            <div class="widget-item-icone">
              {% if item.icone %}
                <i class="{{ item.icone }}"></i>
              {% else %}
                <i class="fa-regular fa-file-lines"></i>
              {% endif %}
            </div>
            <div class="widget-item-texto">
              <span class="widget-item-titulo">{{ item.titulo|linebreaksbr }}</span>
            </div>
            <div class="widget-item-seta">
              <i class="bi bi-chevron-right"></i>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>