@use '../variables.scss';

.agenda-do-dia--title {
  color: variables.$color-primary;
}

.agenda-do-dia--description {
  color: variables.$color-error;
}

.agenda-page--wrapper {
  background-color: variables.$color-white;
}

.agenda-page--title {  
  font-weight: 600;
  font-size: 32px;
  color: variables.$color-primary;
  text-align: center;
  padding: 60px 0px 10px 0px;

  &::after {
    content: "";
    display: block;
    background-color: variables.$color-primary;
    width: 120px;
    height: 2px;
    margin: auto;
  }
}

[data-vc=calendar] {
  @media (max-width: 375px) {
    min-width: 0px !important;
  }
}

[data-vc=column] {
  @media (max-width: 375px) {
    min-width: 0px !important;
  }
}


#calendar-agendas {
  display: grid !important;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  min-height: 304px;
  grid-gap: 12px;

  [data-vc-date-btn] {
    font-size: 1rem;
  }

  [data-vc-week-day] {
    font-size: 0.9rem;
  }

  .vc-wrapper {
    padding-bottom: 0.5rem;
  }

  @media (max-width: 992px) {
    grid-gap: 0px !important;
  }

  .calendar-arrow-sm {
    height: 50px;
    width: 43px;
    display: flex;
  }

  @media (max-width: 375px) {
    overflow: scroll;
    
    .calendar-arrow-lg {
      display: none;
    }

        
  }
  @media (min-width: 375px) {
    .calendar-arrow-sm {
      display: none;
    }
  }

  .vc-date__btn {
    max-width: 30px;
  }

  .vc-column {
    border-radius: 10px;
    border: 0.79px solid variables.$color-agenda-column-border;
    box-shadow: 0px 3.15px 3.15px 0px variables.$color-agenda-column-shadow;

    @media (max-width: 767px) {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  .vc-month,
  .vc-year {
    font-weight: 700;
    font-size: 29.67px;
    color: variables.$color-primary;
  }

  .vc-header__content {
    border: 0.79px solid variables.$color-agenda-column-border;
    border-radius: 10px;
    box-shadow: 0px 3.15px 3.15px 0px variables.$color-agenda-column-shadow;
    justify-content: start;
    padding: 1rem;
    @media (max-width: 375px) {
      padding: 0.5rem 0px;
      justify-content: center;
    }
  }
  .vc-week__day {
    color: variables.$color-black;
  }
  .vc-week__day[data-vc-week-day-off] {
    color: variables.$color-black;
  }
  .vc-date[data-vc-date-holiday] .vc-date__btn, 
  .vc-date[data-vc-date-weekend] .vc-date__btn {
    color: variables.$color-black;
  }

  .vc-date[data-vc-date-holiday][data-vc-date-month=next] .vc-date__btn, 
  .vc-date[data-vc-date-holiday][data-vc-date-month=prev] .vc-date__btn, 
  .vc-date[data-vc-date-weekend][data-vc-date-month=next] .vc-date__btn, 
  .vc-date[data-vc-date-weekend][data-vc-date-month=prev] .vc-date__btn {
    color: variables.$color-agenda-column-btn;
  }

  .vc-date[data-vc-date-holiday][data-vc-date-disabled] .vc-date__btn, 
  .vc-date[data-vc-date-weekend][data-vc-date-disabled] .vc-date__btn,
  .vc-date[data-vc-date-disabled] .vc-date__btn {
    color: variables.$color-agenda-column-btn;
  }

  .bg-temcompromissos {
    color: variables.$color-primary !important;
    font-weight: 700;
  }

  

  .vc-date[data-vc-date-selected] .vc-date__btn,
  .vc-months__month[data-vc-months-month-selected], 
  .vc-years__year[data-vc-years-year-selected] {
    background-color: variables.$color-primary;
    color: variables.$color-white !important;
  }

  [data-vc-arrow] {
    height: 50px;
    width: 43px;
  }

  .vc-arrow:before {
    background-image: url('../img/arrow_agenda.svg');
  }
}

.agenda-item--vertodos {
  padding-top: 62px;
}

