@use '../variables.scss';

[data-theme="dark"] {
  .noticias-page--wrapper {
    background-color: variables.$color-black;
  }

  .page-noticias__published {
    color: variables.$color-white;
  }

  .noticias-pagination-item {
    --paginator-svg-color: #{variables.$color-white};
    border-color: variables.$color-white;
    color: variables.$color-white;

    a {
      color: variables.$color-white;
    }

    &.active {
      background-color: variables.$color-grey-800;
      color: variables.$color-warning;

      a {
        color: variables.$color-warning;
      }
    }

    &.disabled {
      --paginator-svg-color: #{variables.$color-grey-800};
      border: none;

      &.with-border {
        border-color: variables.$color-grey-800;
      }
    }
  }
}