{% comment %} {% load static %}
<div class="md:container md:sm md:mx-auto" id="barra-brasil">
  <h1>Teste</h1>
</div>


<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
       <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{% static 'img/carousel-3.svg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{% static 'img/carousel-3.svg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{% static 'img/carousel-3.svg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{% static 'img/carousel-3.svg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{% static 'img/carousel-3.svg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div> {% endcomment %}

<div class="relative isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
    <div class="mx-auto aspect-1155/678 w-[72.1875rem] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-4xl text-center">
    <h2 class="text-base/7 font-semibold text-indigo-600">Pricing</h2>
    <p class="mt-2 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-6xl">Choose the right plan for you</p>
  </div>
  <p class="mx-auto mt-6 max-w-2xl text-center text-lg font-medium text-pretty text-gray-600 sm:text-xl/8">Choose an affordable plan that’s packed with the best features for engaging your audience, creating customer loyalty, and driving sales.</p>
  <div class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2">
    <div class="rounded-3xl rounded-t-3xl bg-white/60 p-8 ring-1 ring-gray-900/10 sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-tr-none lg:rounded-bl-3xl">
      <h3 id="tier-hobby" class="text-base/7 font-semibold text-indigo-600">Hobby</h3>
      <p class="mt-4 flex items-baseline gap-x-2">
        <span class="text-5xl font-semibold tracking-tight text-gray-900">$29</span>
        <span class="text-base text-gray-500">/month</span>
      </p>
      <p class="mt-6 text-base/7 text-gray-600">The perfect plan if you&#039;re just getting started with our product.</p>
      <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-600 sm:mt-10">
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          25 products
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          Up to 10,000 subscribers
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          Advanced analytics
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          24-hour support response time
        </li>
      </ul>
      <a href="#" aria-describedby="tier-hobby" class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-indigo-600 ring-1 ring-indigo-200 ring-inset hover:ring-indigo-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:mt-10">Get started today</a>
    </div>
    <div class="relative rounded-3xl bg-gray-900 p-8 ring-1 shadow-2xl ring-gray-900/10 sm:p-10">
      <h3 id="tier-enterprise" class="text-base/7 font-semibold text-indigo-400">Enterprise</h3>
      <p class="mt-4 flex items-baseline gap-x-2">
        <span class="text-5xl font-semibold tracking-tight text-white">$99</span>
        <span class="text-base text-gray-400">/month</span>
      </p>
      <p class="mt-6 text-base/7 text-gray-300">Dedicated support and infrastructure for your company.</p>
      <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-300 sm:mt-10">
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          Unlimited products
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          Unlimited subscribers
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          Advanced analytics
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          Dedicated support representative
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          Marketing automations
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
          </svg>
          Custom integrations
        </li>
      </ul>
      <a href="#" aria-describedby="tier-enterprise" class="mt-8 block rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 sm:mt-10">Get started today</a>
    </div>
  </div>
</div>


<div id="barra-brasil">
  <div class="conteudo-escondido"> <a accesskey="1" href="#conteudo">Ir para o conteúdo</a> </div>
  <div class="conteudo-barra-brasil">
    <!-- <a href="http://www.brasil.gov.br/" class="pic-gov" title="GovBR">GovBR</a>  -->
    <span></span>
    <a href="javascript:window.barraIdentidade.scrollBarraEsquerda();" id="botao-seta-esquerda" class="botao-seta-esquerda"><i class="arrow right">Navegar para Esquerda</i></a>
    <nav id="menu-barra-brasil" onscroll="window.barraIdentidade.checkScrollBarra(this);">
      <ul class="lista-barra-brasil">
        <li class="list-item"> <a href="javascript:window.barraIdentidade.toggleServicosGoverno();" id="link-servicos" class="link-barra link-interno-barra link-baixo-barra">Secretarias</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="javascript:window.barraIdentidade.toggleIndiretasGoverno();" id="link-indiretas" class="link-barra link-interno-barra link-baixo-barra">Indiretas</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://sic.pb.gov.br/" class="link-barra link-externo-barra">Acesso à
            informação</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://ouvidoria.pb.gov.br/" class="link-barra link-externo-barra">Ouvidoria</a> </li>
      <li class="espacador"></li>
        <li class="list-item"> <a href="https://transparencia.pb.gov.br/" class="link-barra link-externo-barra">Transparência Fiscal</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://paraiba.pb.gov.br/carta-de-servicos" class="link-barra link-externo-barra">Carta de Serviços</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://auniao.pb.gov.br/doe" class="link-barra link-externo-barra">Diário
            Oficial</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://paraiba.pb.gov.br/contatos/" class="link-barra link-externo-barra">Contatos</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://paraiba.pb.gov.br/guia-da-rede-de-enfrentamento-violencia-sexual" class="link-barra link-externo-barra">Guia da rede de enfrentamento à violência</a> </li>
      </ul>
    </nav>
    <a href="javascript:window.barraIdentidade.scrollBarra();" id="botao-seta-direita" class="botao-seta-direita"><i class="arrow right">Navegar para direita</i></a>
  </div>
  <div class="orgaos-governo-barra" id="servicos-governo-barra">
    <div>
      <ul>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-administracao">Administração</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-administracao-penitenciaria">Administração
            Penitenciária </a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-agricultura-familiar-e-desenvolvimento-do-semiarido/">Agricultura
            Familiar e Desenvolvimento do Semiárido</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/casa-civil-do-governador/">Casa Civil do
            Governador</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/casa-militar-do-governador/">Casa Militar
            do Governador </a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-ciencia-tecnologia-inovacao-e-ensino-superior/">Ciência, Tecnologia, Inovação e Ensino Superior</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-comunicacao-institucional/">Comunicação
            Institucional</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/controladoria-geral-do-estado/">Controladoria Geral do Estado
          </a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-cultura/">Cultura </a>
        </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-desenvolvimento-da-agropecuaria-e-pesca/">Desenvolvimento
            da Agropecuária e Pesca</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-desenvolvimento-e-da-articulacao-municipal/">Desenvolvimento
            e da Articulação Municipal</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-desenvolvimento-humano/">Desenvolvimento Humano</a>
        </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-educacao">Educação</a> </li>
        <li class="orgao-barra"> <a href="https://www.empreenderpb.pb.gov.br/">Empreender</a> </li>
        <li class="orgao-barra"> <a href="https://www.sefaz.pb.gov.br/">Secretaria de Fazenda</a>
          </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-governo/">Secretaria de
            Governo</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-infraestrutura-e-dos-recursos-hidricos">Infraestrutura e dos Recursos Hídricos</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-juventude-esporte-e-lazer/">Juventude, Esporte e
            Lazer</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-do-meio-ambiente-e-sustentabilidade">Meio Ambiente e Sustentabilidade</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-mulher-e-da-diversidade-humana/">Mulher e da
            Diversidade Humana</a> </li>
         
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-planejamento-orcamento-e-gestao/">Planejamento,
            Orçamento e Gestão</a> </li>
        <li class="orgao-barra"> <a href="https://pge.pb.gov.br/">Procuradoria Geral do Estado</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-representacao-institucional/">Representação
            Institucional</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-saude/">Saúde </a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-seguranca-e-defesa-social/">Segurança e Defesa
            Social</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-turismo-e-desenvolvimento-economico/">Turismo e
            Desenvolvimento Econômico</a> </li>
      </ul>
    </div>
  </div>
  <div class="orgaos-governo-barra" id="indiretas-governo-barra">
    <div>
      <ul>
        <li class="orgao-barra"> <a href="https://auniao.pb.gov.br/">A União</a> </li>
        <li class="orgao-barra"> <a href="http://www.aesa.pb.gov.br/aesa-website/">AESA</a> </li>
        <li class="orgao-barra"> <a href="https://arpb.pb.gov.br/">ARPB</a> </li>
        <li class="orgao-barra"> <a href="https://agevisa.pb.gov.br/">Agevisa</a> </li>
        <li class="orgao-barra"> <a href="https://www.cagepa.pb.gov.br/">Cagepa</a> </li>
        <li class="orgao-barra"> <a href="http://www.cehap.pb.gov.br/sitecehap/">Cehap</a> </li>
        <!-- <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/">Cendac</a> </li> -->
        <li class="orgao-barra"> <a href="http://www.cinep.pb.gov.br/portal/">Cinep</a> </li>
        <li class="orgao-barra"> <a href="https://codata.pb.gov.br/">Codata</a> </li>
        <li class="orgao-barra"> <a href="https://portodecabedelo.pb.gov.br/">Companhia Docas</a> </li>
        <li class="orgao-barra"> <a href="http://www.bombeiros.pb.gov.br/">Corpo de Bombeiros</a> </li>
        <li class="orgao-barra"> <a href="https://der.pb.gov.br/">DER</a> </li>
        <li class="orgao-barra"> <a href="https://detran.pb.gov.br/">DETRAN</a> </li>
        <li class="orgao-barra"> <a href="https://empaer.pb.gov.br/">EMPAER</a> </li>
        <li class="orgao-barra"> <a href="https://espep.pb.gov.br/">ESPEP</a> </li>
        <li class="orgao-barra"> <a href="https://epc.pb.gov.br/">EPC</a> </li>
        <li class="orgao-barra"> <a href="http://www.fac.pb.gov.br/index.php">FAC</a> </li>
        <li class="orgao-barra"> <a href="https://fapesq.rpp.br/">Fapesq</a> </li>
        <li class="orgao-barra"> <a href="https://fcja.pb.gov.br/">Fundação Casa de José Américo</a> </li>
        <li class="orgao-barra"> <a href="https://funad.pb.gov.br/">FUNAD</a> </li>
        <li class="orgao-barra"> <a href="https://fundac.pb.gov.br/">FUNDAC</a> </li>
        <li class="orgao-barra"> <a href="http://www.funes.pb.gov.br/">FUNES</a> </li>
        <li class="orgao-barra"> <a href="https://funesc.pb.gov.br/">FUNESC</a> </li>
        <li class="orgao-barra"> <a href="https://imeq.pb.gov.br/">IMEQ</a> </li>
        <li class="orgao-barra"> <a href="https://iass.pb.gov.br/">IASS</a> </li>
        <li class="orgao-barra"> <a href="https://iphaep.pb.gov.br/">IPHAEP</a> </li>
        <li class="orgao-barra"> <a href="https://jucep.pb.gov.br/">JUCEP</a> </li>
        <li class="orgao-barra"> <a href="https://lifesa.pb.gov.br/">LIFESA</a> </li>
        <li class="orgao-barra"> <a href="https://lotep.pb.gov.br/">LOTEP</a> </li>
        <li class="orgao-barra"> <a href="https://ouvidoria.pb.gov.br/">Ouvidoria Geral do Estado</a> </li>
        <li class="orgao-barra"> <a href="https://pap.pb.gov.br/">PAP</a> </li>
        <li class="orgao-barra"> <a href="https://pbgas.com.br/">PBGÁS</a> </li>
        <li class="orgao-barra"> <a href="https://pbsaude.pb.gov.br/">PB Saúde</a> </li>
        <li class="orgao-barra"> <a href="https://www.pbtur.pb.gov.br/">PBTUR</a> </li>
        <li class="orgao-barra"> <a href="http://www.pbprev.pb.gov.br/pbprev">PBPREV</a> </li>
        <li class="orgao-barra"> <a href="https://cooperar.pb.gov.br/">Projeto Cooperar</a> </li>
        <li class="orgao-barra"> <a href="https://www.procase.pb.gov.br/">PROCASE</a> </li>
        <li class="orgao-barra"> <a href="https://procon.pb.gov.br/">PROCON</a> </li>
        <li class="orgao-barra"> <a href="https://www.pm.pb.gov.br/portal/">Polícia Militar</a> </li>
        <li class="orgao-barra"> <a href="https://www.policiacivil.pb.gov.br/">Polícia Civil</a> </li>
        <li class="orgao-barra"> <a href="https://radiotabajara.pb.gov.br/">Rádio Tabajara</a> </li>
        <li class="orgao-barra"> <a href="https://sudema.pb.gov.br/">SUDEMA</a> </li>
        <li class="orgao-barra"> <a href="https://suplan.pb.gov.br/">SUPLAN</a> </li>
        <li class="orgao-barra"> <a href="https://uepb.edu.br/">UEPB</a> </li>
      </ul>
    </div>
  </div>
</div>