{% load static %}
<div class="md:container md:sm md:mx-auto" id="barra-brasil">
  <h1>Teste</h1>
</div>

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base/7 font-semibold text-indigo-600">Deploy faster</h2>
      <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">Everything you need to deploy your app</p>
      <p class="mt-6 text-lg/8 text-gray-600">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
              </svg>
            </div>
            Push to deploy
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Morbi viverra dui mi arcu sed. Tellus semper adipiscing suspendisse semper morbi. Odio urna massa nunc massa.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
              </svg>
            </div>
            SSL certificates
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Sit quis amet rutrum tellus ullamcorper ultricies libero dolor eget. Sem sodales gravida quam turpis enim lacus amet.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
              </svg>
            </div>
            Simple queues
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Quisque est vel vulputate cursus. Risus proin diam nunc commodo. Lobortis auctor congue commodo diam neque.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33" />
              </svg>
            </div>
            Advanced security
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Arcu egestas dolor vel iaculis in ipsum mauris. Tincidunt mattis aliquet hac quis. Id hac maecenas ac donec pharetra eget.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>



<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
       <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{% static 'img/carousel-3.svg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{% static 'img/carousel-3.svg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{% static 'img/carousel-3.svg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{% static 'img/carousel-3.svg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{% static 'img/carousel-3.svg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>

<div id="barra-brasil">
  <div class="conteudo-escondido"> <a accesskey="1" href="#conteudo">Ir para o conteúdo</a> </div>
  <div class="conteudo-barra-brasil">
    <!-- <a href="http://www.brasil.gov.br/" class="pic-gov" title="GovBR">GovBR</a>  -->
    <span></span>
    <a href="javascript:window.barraIdentidade.scrollBarraEsquerda();" id="botao-seta-esquerda" class="botao-seta-esquerda"><i class="arrow right">Navegar para Esquerda</i></a>
    <nav id="menu-barra-brasil" onscroll="window.barraIdentidade.checkScrollBarra(this);">
      <ul class="lista-barra-brasil">
        <li class="list-item"> <a href="javascript:window.barraIdentidade.toggleServicosGoverno();" id="link-servicos" class="link-barra link-interno-barra link-baixo-barra">Secretarias</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="javascript:window.barraIdentidade.toggleIndiretasGoverno();" id="link-indiretas" class="link-barra link-interno-barra link-baixo-barra">Indiretas</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://sic.pb.gov.br/" class="link-barra link-externo-barra">Acesso à
            informação</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://ouvidoria.pb.gov.br/" class="link-barra link-externo-barra">Ouvidoria</a> </li>
      <li class="espacador"></li>
        <li class="list-item"> <a href="https://transparencia.pb.gov.br/" class="link-barra link-externo-barra">Transparência Fiscal</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://paraiba.pb.gov.br/carta-de-servicos" class="link-barra link-externo-barra">Carta de Serviços</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://auniao.pb.gov.br/doe" class="link-barra link-externo-barra">Diário
            Oficial</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://paraiba.pb.gov.br/contatos/" class="link-barra link-externo-barra">Contatos</a> </li>
        <li class="espacador"></li>
        <li class="list-item"> <a href="https://paraiba.pb.gov.br/guia-da-rede-de-enfrentamento-violencia-sexual" class="link-barra link-externo-barra">Guia da rede de enfrentamento à violência</a> </li>
      </ul>
    </nav>
    <a href="javascript:window.barraIdentidade.scrollBarra();" id="botao-seta-direita" class="botao-seta-direita"><i class="arrow right">Navegar para direita</i></a>
  </div>
  <div class="orgaos-governo-barra" id="servicos-governo-barra">
    <div>
      <ul>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-administracao">Administração</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-administracao-penitenciaria">Administração
            Penitenciária </a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-agricultura-familiar-e-desenvolvimento-do-semiarido/">Agricultura
            Familiar e Desenvolvimento do Semiárido</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/casa-civil-do-governador/">Casa Civil do
            Governador</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/casa-militar-do-governador/">Casa Militar
            do Governador </a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-ciencia-tecnologia-inovacao-e-ensino-superior/">Ciência, Tecnologia, Inovação e Ensino Superior</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-comunicacao-institucional/">Comunicação
            Institucional</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/controladoria-geral-do-estado/">Controladoria Geral do Estado
          </a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-cultura/">Cultura </a>
        </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-desenvolvimento-da-agropecuaria-e-pesca/">Desenvolvimento
            da Agropecuária e Pesca</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-desenvolvimento-e-da-articulacao-municipal/">Desenvolvimento
            e da Articulação Municipal</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-desenvolvimento-humano/">Desenvolvimento Humano</a>
        </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-educacao">Educação</a> </li>
        <li class="orgao-barra"> <a href="https://www.empreenderpb.pb.gov.br/">Empreender</a> </li>
        <li class="orgao-barra"> <a href="https://www.sefaz.pb.gov.br/">Secretaria de Fazenda</a>
          </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-governo/">Secretaria de
            Governo</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-infraestrutura-e-dos-recursos-hidricos">Infraestrutura e dos Recursos Hídricos</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-juventude-esporte-e-lazer/">Juventude, Esporte e
            Lazer</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-do-meio-ambiente-e-sustentabilidade">Meio Ambiente e Sustentabilidade</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-mulher-e-da-diversidade-humana/">Mulher e da
            Diversidade Humana</a> </li>
         
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-planejamento-orcamento-e-gestao/">Planejamento,
            Orçamento e Gestão</a> </li>
        <li class="orgao-barra"> <a href="https://pge.pb.gov.br/">Procuradoria Geral do Estado</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-representacao-institucional/">Representação
            Institucional</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-saude/">Saúde </a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-seguranca-e-defesa-social/">Segurança e Defesa
            Social</a> </li>
        <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/diretas/secretaria-de-turismo-e-desenvolvimento-economico/">Turismo e
            Desenvolvimento Econômico</a> </li>
      </ul>
    </div>
  </div>
  <div class="orgaos-governo-barra" id="indiretas-governo-barra">
    <div>
      <ul>
        <li class="orgao-barra"> <a href="https://auniao.pb.gov.br/">A União</a> </li>
        <li class="orgao-barra"> <a href="http://www.aesa.pb.gov.br/aesa-website/">AESA</a> </li>
        <li class="orgao-barra"> <a href="https://arpb.pb.gov.br/">ARPB</a> </li>
        <li class="orgao-barra"> <a href="https://agevisa.pb.gov.br/">Agevisa</a> </li>
        <li class="orgao-barra"> <a href="https://www.cagepa.pb.gov.br/">Cagepa</a> </li>
        <li class="orgao-barra"> <a href="http://www.cehap.pb.gov.br/sitecehap/">Cehap</a> </li>
        <!-- <li class="orgao-barra"> <a href="https://paraiba.pb.gov.br/">Cendac</a> </li> -->
        <li class="orgao-barra"> <a href="http://www.cinep.pb.gov.br/portal/">Cinep</a> </li>
        <li class="orgao-barra"> <a href="https://codata.pb.gov.br/">Codata</a> </li>
        <li class="orgao-barra"> <a href="https://portodecabedelo.pb.gov.br/">Companhia Docas</a> </li>
        <li class="orgao-barra"> <a href="http://www.bombeiros.pb.gov.br/">Corpo de Bombeiros</a> </li>
        <li class="orgao-barra"> <a href="https://der.pb.gov.br/">DER</a> </li>
        <li class="orgao-barra"> <a href="https://detran.pb.gov.br/">DETRAN</a> </li>
        <li class="orgao-barra"> <a href="https://empaer.pb.gov.br/">EMPAER</a> </li>
        <li class="orgao-barra"> <a href="https://espep.pb.gov.br/">ESPEP</a> </li>
        <li class="orgao-barra"> <a href="https://epc.pb.gov.br/">EPC</a> </li>
        <li class="orgao-barra"> <a href="http://www.fac.pb.gov.br/index.php">FAC</a> </li>
        <li class="orgao-barra"> <a href="https://fapesq.rpp.br/">Fapesq</a> </li>
        <li class="orgao-barra"> <a href="https://fcja.pb.gov.br/">Fundação Casa de José Américo</a> </li>
        <li class="orgao-barra"> <a href="https://funad.pb.gov.br/">FUNAD</a> </li>
        <li class="orgao-barra"> <a href="https://fundac.pb.gov.br/">FUNDAC</a> </li>
        <li class="orgao-barra"> <a href="http://www.funes.pb.gov.br/">FUNES</a> </li>
        <li class="orgao-barra"> <a href="https://funesc.pb.gov.br/">FUNESC</a> </li>
        <li class="orgao-barra"> <a href="https://imeq.pb.gov.br/">IMEQ</a> </li>
        <li class="orgao-barra"> <a href="https://iass.pb.gov.br/">IASS</a> </li>
        <li class="orgao-barra"> <a href="https://iphaep.pb.gov.br/">IPHAEP</a> </li>
        <li class="orgao-barra"> <a href="https://jucep.pb.gov.br/">JUCEP</a> </li>
        <li class="orgao-barra"> <a href="https://lifesa.pb.gov.br/">LIFESA</a> </li>
        <li class="orgao-barra"> <a href="https://lotep.pb.gov.br/">LOTEP</a> </li>
        <li class="orgao-barra"> <a href="https://ouvidoria.pb.gov.br/">Ouvidoria Geral do Estado</a> </li>
        <li class="orgao-barra"> <a href="https://pap.pb.gov.br/">PAP</a> </li>
        <li class="orgao-barra"> <a href="https://pbgas.com.br/">PBGÁS</a> </li>
        <li class="orgao-barra"> <a href="https://pbsaude.pb.gov.br/">PB Saúde</a> </li>
        <li class="orgao-barra"> <a href="https://www.pbtur.pb.gov.br/">PBTUR</a> </li>
        <li class="orgao-barra"> <a href="http://www.pbprev.pb.gov.br/pbprev">PBPREV</a> </li>
        <li class="orgao-barra"> <a href="https://cooperar.pb.gov.br/">Projeto Cooperar</a> </li>
        <li class="orgao-barra"> <a href="https://www.procase.pb.gov.br/">PROCASE</a> </li>
        <li class="orgao-barra"> <a href="https://procon.pb.gov.br/">PROCON</a> </li>
        <li class="orgao-barra"> <a href="https://www.pm.pb.gov.br/portal/">Polícia Militar</a> </li>
        <li class="orgao-barra"> <a href="https://www.policiacivil.pb.gov.br/">Polícia Civil</a> </li>
        <li class="orgao-barra"> <a href="https://radiotabajara.pb.gov.br/">Rádio Tabajara</a> </li>
        <li class="orgao-barra"> <a href="https://sudema.pb.gov.br/">SUDEMA</a> </li>
        <li class="orgao-barra"> <a href="https://suplan.pb.gov.br/">SUPLAN</a> </li>
        <li class="orgao-barra"> <a href="https://uepb.edu.br/">UEPB</a> </li>
      </ul>
    </div>
  </div>
</div>