{% load static %}

<div class="videos-container">
  <div class="video-card">
    <iframe src="https://www.youtube.com/embed/Jbh8Sug4O9Y" allowfullscreen></iframe>
    <div class="video-title">Consulta Consolidada De Veículos</div>
  </div>
  <div class="video-card">
    <iframe src="https://www.youtube.com/embed/pTzGVtTwrRE" allowfullscreen></iframe>
    <div class="video-title">A sua vida vale muito!</div>
  </div>
  <div class="video-card">
    <iframe src="https://www.youtube.com/embed/qveAQ_i8p-c" allowfullscreen></iframe>
    <div class="video-title">Maio Amarelo - No trânsito, escolha</div>
  </div>
</div>

<div class="text-center">
  <a class="btn-ver-todos" href="https://www.youtube.com" target="_blank">Ver todos</a>
</div>
