<div class="header-acessibilidade-social--wrapper tw:w-[95%] tw:max-w-6xl tw:mx-auto">
  <div class="header-acessibilidade-social--layout">
    <div class="header-acessibilidade-social--tools">
      <ul>
        <li id="siteaction-contraste">
          <a href="#" accesskey="6">Alto Contraste</a>
        </li>
        <li id="siteaction-vlibras">
          <a href="http://www.vlibras.gov.br/" accesskey>VLibras</a>
        </li>
      </ul>
    </div>
    <div class="header-acessibilidade-social--zoom">
      <div class="transparencia-acessebilidade-bt-fonte">
        <a
          href="javascript:$('body').css({'zoom':parseFloat($('body').css('zoom'))-0.1})">A-</a>
      </div>
      <div class="transparencia-acessebilidade-bt-fonte">
        <a
          href="javascript:$('body').css({'zoom':parseFloat($('body').css('zoom'))+0.1})">A+</a>
      </div>
      <div class="transparencia-acessebilidade-bt-fonte">
        <a href="javascript:$('body').css({'zoom':0})">A</a>
      </div>
    </div>
    <div class="header-acessibilidade-social--links">
      <ul class>
        <li class="portalredes-instagram">
          <a href="https://www.instagram.com/codatapbgov">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="header-navbar--wrapper tw:w-[100%] tw:bg-blue-950 ">
  <div class="header-navbar-dados--layout tw:w-[95%] tw:max-w-6xl tw:mx-auto tw:text-white">
    <div class="header-navbar-dados--logo">
      <span>logo</span>
    </div>
    <div class="header-navbar-dados--pesquisa">
      <span>pesquisa</span>
    </div>
    <div class="header-navbar-dados--acesso-rapido">
      <span>Acesso Rapido</span>
    </div>
  </div>
  <div class="header-navbar-itens--layout tw:w-[95%] tw:max-w-6xl tw:mx-auto">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item tw:text-blue-700" href="#">Action</a></li>
                <li><a class="dropdown-item " href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>