<div class="header-acessibilidade-social--wrapper tw:w-[95%] tw:max-w-6xl tw:mx-auto">
  <div class="header-acessibilidade-social--layout">
    <div>
      <img src="https://codata.pb.gov.br/++theme++detran2021/images/CodataHorizontal.svg" style="width: 150px; max-width: 150px;">
    </div>
    <div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div class="header-acessibilidade-social--tools">
      <ul>
        <li id="siteaction-contraste">
          <a href="#" accesskey="6">Alto Contraste</a>
        </li>
        <li id="siteaction-vlibras">
          <a href="http://www.vlibras.gov.br/" accesskey>VLibras</a>
        </li>
      </ul>
    </div>
    <div class="header-acessibilidade-social--zoom">
      <div class="transparencia-acessebilidade-bt-fonte">
        <a
          href="javascript:$('body').css({'zoom':parseFloat($('body').css('zoom'))-0.1})">A-</a>
      </div>
      <div class="transparencia-acessebilidade-bt-fonte">
        <a
          href="javascript:$('body').css({'zoom':parseFloat($('body').css('zoom'))+0.1})">A+</a>
      </div>
      <div class="transparencia-acessebilidade-bt-fonte">
        <a href="javascript:$('body').css({'zoom':0})">A</a>
      </div>
    </div>
    <div class="header-acessibilidade-social--links">
      <ul class>
        <li class="portalredes-instagram">
          <a href="https://www.instagram.com/codatapbgov">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="header-navbar--wrapper tw:w-[100%] tw:bg-blue-950 ">
  <div class="header-navbar-itens--layout tw:w-[95%] tw:max-w-6xl tw:mx-auto">
    <nav class="navbar navbar-expand-lg tw:pt-[15px] tw:pb-[15px]">
        <button class="navbar-toggler tw:text-white tw:border-white" 
          type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon tw:text-white tw:bg-(image:--sp-navbar-toggler-icon-bg)"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active tw:text-white" aria-current="page" href="#">Institucional</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tw:text-white" href="#">Atualizações</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle tw:text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Serviços
              </a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item tw:text-blue-700" href="#">Action</a></li>
                <li><a class="dropdown-item " href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link tw:text-white" href="#">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tw:text-white" href="#">Comissões</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tw:text-white" href="#">Treinamentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tw:text-white" href="#">LGPD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tw:text-white" href="#">Concurso 2022</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tw:text-white" href="#">Links Úteis</a>
            </li>
          </ul>
        </div>
    </nav>
  </div>
</div>