<div class="header-acessibilidade-social--wrapper w-[95%] max-w-6xl mx-auto">
  <div class="header-acessibilidade-social--layout">
    <div class="header-acessibilidade-social--tools">
      <ul>
        <li id="siteaction-contraste">
            <a href="#" accesskey="6">Alto Contraste</a>
        </li>
        <li id="siteaction-vlibras">
            <a href="http://www.vlibras.gov.br/" accesskey="">VLibras</a>
        </li>
      </ul>
    </div>
    <div class="header-acessibilidade-social--zoom">
      <div class="transparencia-acessebilidade-bt-fonte">
        <a href="javascript:$('body').css({'zoom':parseFloat($('body').css('zoom'))-0.1})">A-</a>
      </div>
      <div class="transparencia-acessebilidade-bt-fonte">
        <a href="javascript:$('body').css({'zoom':parseFloat($('body').css('zoom'))+0.1})">A+</a>
      </div>
      <div class="transparencia-acessebilidade-bt-fonte">
        <a href="javascript:$('body').css({'zoom':0})">A</a>
      </div>
    </div>
    <div class="header-acessibilidade-social--links">
      <ul class="">
        <li class="portalredes-instagram">
            <a href="https://www.instagram.com/codatapbgov">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="header-navbar--wrapper w-[100%] h-[80px] bg-blue-950">
  <div class="header-navbar--content">
  </div>
</div>