{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    {# CSS adicional pode ser incluído aqui #}
    
{% endblock extra_css %}

{% block content %}

    {% comment %} 
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %} 
    {% endcomment %}

    {# ========================== CARROSSEL ========================== #}
    {% for block in page.body %}
        {% if block.block_type == 'carrossel_banners' %}
            {% include_block block %}
        {% endif %}
    {% endfor %}

    {# ========================== ACESSOS RÁPIDOS ========================== #}
    {% include 'home/blocks/titulo.html' with titulo='Acesso rápido' %}
    {% for block in page.body %}
        {% if block.block_type == 'acessos_rapidos' %}
            {% include_block block %}
        {% endif %}
    {% endfor %}

    {# ========================== SERVIÇOS ONLINE ========================== #}
    {% include 'home/blocks/titulo.html' with titulo='Serviços online' %}
    {% for block in page.body %}
        {% if block.block_type == 'servicos_online' %}
            {% include_block block %}
        {% endif %}
    {% endfor %}  

    {# ========================== BANNER ========================== #}
    {% for block in page.body %}
        {% if block.block_type == 'banner_com_link' %}
            {% include_block block %}
        {% endif %}
    {% endfor %}

    {# ========================== CENTRAL DE MONITORAMENTO ========================== #}
    {% include 'home/blocks/titulo.html' with bgAzul=True titulo='Central de Monitoramento' %}
    {% include 'home/blocks/central_monitoramento_detran.html' %}


    {# ========================== VÍDEOS ========================== #}
    {% include 'home/blocks/titulo.html' with titulo='Vídeos' %}
    {% for block in page.body %}
        {% if block.block_type == 'lista_videos' %}
            {% include_block block %}
        {% endif %}
    {% endfor %}


    {# ========================== NOTÍCIAS ========================== #}
    {% include 'home/blocks/titulo.html' with titulo='Notícias' %}
    {% include 'home/blocks/list_noticias.html' %}

    {# ========================== REDES SOCIAIS ========================== #}
    {% for block in page.body %}
      {% if block.block_type == 'redes_sociais' %}
            {% include_block block %}
        {% endif %}
    {% endfor %}

{% endblock content %}
