{% load static %}

<div class="mx-auto max-w-2xl">
  <div class="columns-2">
    <p>Well, let me tell you something, ...</p>
    <p class="break-after-column">Sure, go ahead, laugh...</p>
    <p>Maybe we can live without...</p>
    <p>Look. If you think this is...</p>
  </div>

  <div class="columns-2">
    <p>2 Well, let me tell you something, ...</p>
    <p class="break-before-column">2 Sure, go ahead, laugh...</p>
    <p>2 Maybe we can live without...</p>
    <p>2 Look. If you think this is...</p>
  </div>

  <div class="columns-2">
    <p>3 Well, let me tell you something, ...</p>
    <p class="break-inside-avoid-column">3 Sure, go ahead, laugh...</p>
    <p>3 Maybe we can live without...</p>
    <p>3 Look. If you think this is...</p>
  </div>

  <span class="box-decoration-slice bg-linear-to-r from-indigo-600 to-pink-500 px-2 text-white">
    1Hello<br />1World
  </span>
  <span class="box-decoration-clone bg-linear-to-r from-indigo-600 to-pink-500 px-2 text-white">
    2Hello<br />World
  </span>

  <div class="box-border size-32 border-4 p-4 ">
    <span class="bg-red-50">Box</span>
  </div>

  <div class="box-content size-32 border-4 p-4">
    <span class="bg-red-50">Box</span>
  </div>
  <div class="flex">
    <article>
      <img class="float-right aspect-auto w-40" src="{% static 'img/photo_teste.jpg' %}" />
      <p>Maybe we can live without libraries, people like you and me. ...</p>
    </article>
  </div>
  <div class="flex">
    <article>
      <img class="float-left mr-6 mb-4 aspect-16/9 w-1/4 rounded-lg object-cover outline -outline-offset-1 outline-black/10" src="{% static 'img/photo_teste.jpg' %}" />
      <img class="float-right ml-6 aspect-6/5 w-2/5 rounded-lg object-cover outline -outline-offset-1 outline-black/10" src="{% static 'img/photo_teste.jpg' %}" />
      <p class="clear-left">Maybe we can live without libraries, people like you and me. Maybe. Sure, we're too old to change the world, but what about that kid, sitting down, opening a book, right now, in a branch at the local library and finding drawings of pee-pees and wee-wees on the Cat in the Hat and the Five Chinese Brothers? Doesn't HE deserve better? Look. If you think this is about overdue fines and missing books, you'd better think again. This is about that kid's right to read a book without getting his mind warped! Or: maybe that turns you on, Seinfeld; maybe that's how y'get your kicks. You and your good-time buddies.</p>
    </article>
  </div>



  <div class="mt-4">
    <div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5 2xl:columns-6">
      {% for i in loop_times %}
        <img class="aspect-auto" src="{% static 'img/photo_teste.jpg' %}" />
      {% endfor %}
    </div>
  </div>
</div>