# This file contains Content Security Policy (CSP) directives to test Wagtail's compatibility with CSP.
# If the variables defined here are loaded into the environment, CSP will be enabled.

# These values are commented out by default because Wagtail is not (yet) compatible with
# the strict policy defined below.

# Careful about the quoting of directives! It is easy to break.
# CSP_DEFAULT_SRC="'self'"

# Enable this rule to allow font awesome to load from CDN
# CSP_FONT_SRC="'self', https://cdnjs.cloudflare.com"

# DJANGO_SETTINGS_MODULE=sitepadrao.settings.production
# DJANGO_SETTINGS_DEBUG=False
# DJANGO_SECRET_KEY=<your-secret-key>
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=gerencia.webmail.pb.gov.br
# EMAIL_PORT=587
# EMAIL_HOST_USER=naoresponda_sites@codata.pb.gov.br
# EMAIL_HOST_PASSWORD=<your-email-password>
# EMAIL_USE_TLS=True
# EMAIL_USE_SSL=False
# DEFAULT_FROM_EMAIL=naoresponda_sites@codata.pb.gov.br
# DEFAULT_FROM_NAME=Não responda Secretaria de Educação [TST]
# WAGTAILADMIN_BASE_URL=https://qa.portais-secretaria-da-educacao.rke.codatahml.pb.gov.br
# METABASE_API_KEY=<your-metabase-api-key>
# METABASE_API_URL=https://metabase.codata.pb.gov.br/api/card/
# HABILITAR_SSO_LOGIN=False
# SOCIALACCOUNT_PROVIDER_ID=codata-sso-dev-server
# SOCIALACCOUNT_NAME=CODATA SSO Server
# KEYCLOAK_CLIENT_ID=dev-client-secret
# KEYCLOAK_SECRET=<your-keycloak-client-secret>
# KEYCLOAK_SERVER_URL=https://homolog.sso.codata.pb.gov.br/auth/realms/desenvolvimento/.well-known/openid-configuration
# KEYCLOAK_SERVER_URL_LOGOUT=https://homolog.sso.codata.pb.gov.br/auth/realms/desenvolvimento/protocol/openid-connect/logout

