@use '../variables.scss';

.lista-institucional--wrapper {
  background-color: variables.$color-white;
}

.institucional-list-item-title {
  color: variables.$color-primary;
  a {
    color: variables.$color-primary;
  }
}