@use '../variables.scss';

[data-theme="dark"] {
  .lista-institucional--wrapper {
    background-color: variables.$color-black;
  }

  .institucional-list-item-title {
    color: variables.$color-white;
    a {
      color: variables.$color-white;
    }
  }
}