@use '../variables.scss';

.map-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px variables.$color-overlay-10;
}

/* Style for the location image */
.picture-wrapper {

    picture {
        img {
            max-width: 100%;
            border-top-left-radius: 7rem;
            border-bottom-right-radius: 7rem;
            box-shadow: variables.$company-info-img-box-shadow;
            display: block;
            margin: 0 auto 3rem;
            position: relative;
            z-index: 2;
            aspect-ratio: 1/1;
        }
    }

    margin-bottom: 1.5rem;
}

@media screen and (max-width: 576px) {
    .block-localizacoes.container {
        width: auto;
    }
    .picture-wrapper.col-auto {
        margin-right: 0 !important;
    }
}
