@use '../variables.scss';

[data-theme="dark"] {
  .localizacao-wrapper {
    background-color: variables.$color-black;
  }

  .localizacao-titulo-local {
    color: variables.$color-white;
  }

  .map-container {
      box-shadow: 0 0 10px variables.$color-overlay-10;
  }

  /* Style for the location image */
  .picture-wrapper {
    picture {
        img {
            box-shadow: variables.$company-info-img-box-shadow-dark;
        }
    }
  }

}