<div class="noticias-wrap">
  <div class="noticias-conteudo">
    <p class="noticias-conteudo--data">14/05/2025</p>
    <div class="noticias-conteudo--imagem"> <a href="noticias/index.php?id=3115"> <img class="media-object" src="https://www.detran.pa.gov.br:443/files//asdecom/1405252.jpeg" alt="..."> </a> </div>
    <div class="noticias-conteudo--body">
      <h5 class="noticias-conteudo--heading"><strong><a href="noticias/index.php?id=3115">Agentes do Detran participam de seminário para a COP30</a></strong></h6>
      <p>Agentes recebem orientações sobre escolta e batedor em seminário </p>
    </div>
  </div>
</div>