<div class="noticias-wrap">
  <div class="noticias-conteudo tw:shadow-neutral-400 tw:ring-0 tw:bg-white tw:border-l-neutral-200 tw:border-t-primary-light tw:border-r-neutral-200 tw:border-b-white/100 tw:border-2" >
    <p class="noticias-conteudo--data tw:text-white tw:bg-primary-light">14/05/2025</p>
    <div class="noticias-conteudo--imagem"> <a href="noticias/index.php?id=3115"> <img class="media-object" src="https://www.detran.pa.gov.br:443/files//asdecom/1405252.jpeg" alt="..."> </a> </div>
    <div class="noticias-conteudo--body">
      <h2 class="noticias-conteudo--heading">
        <strong>
          <a href="noticias/index.php?id=3115">Agentes do Detran participam de seminário para a COP30</a>
        </strong>
      </h2>
      <p>Agentes recebem orientações sobre escolta e batedor em seminário </p>
    </div>
  </div>
</div>