{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<div class="linha-do-tempo-page">
    <div class="container">
        <div class="linha-do-tempo-page__content">
            <h1 class="linha-do-tempo-page__titulo">{{ page.title }}</h1>
            <p class="linha-do-tempo-page__data">Publicado em {{ page.data_publicacao|date:"d/m/Y" }}</p>
            {% if page.imagens and page.imagens|length > 1 %}
                <div class="card-lt-destaque tw:pb-12">
                <div class="swiper banner-img-swiper2 d-flex align-items-center">
                    <div class="swiper-wrapper">
                    {% for imagem in page.imagens %}
                        <div class="swiper-slide swiper-slide-images">
                            {% image imagem.value.image original loading="lazy" class="carrossel-banners--img" alt=imagem.value.alt_text|default:imagem.value.image.title %}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <div thumbsSlider="" class="swiper banner-img-swiper">
                    <div class="swiper-wrapper gap-2 my-1 ms-2">
                    {% for imagem in page.imagens %}
                        <div
                            class="swiper-slide swiper-slide-images"
                            style="cursor: pointer;"
                        >
                            {% image imagem.value.image original loading="lazy" class="carrossel-banners--img" alt=imagem.value.alt_text|default:imagem.value.image.title %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                </div>

            {% elif page.imagens and page.imagens|length == 1 %}
                <div class="d-flex justify-content-center pb-12 static-img-container">
                {% with imagem=page.imagens.0 %}
                    {% image imagem.value.image original loading="lazy" class="carrossel-banners--img" alt=imagem.value.alt_text|default:imagem.value.image.title %}
                {% endwith %}
                </div>
            {% endif %}
            <div class="linha-do-tempo-page__descricao">{{ page.descricao_linha_do_tempo }}</div>
            <div class="linha-do-tempo-page__lista-videos">
                {% for block in page.lista_videos %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const swiperThumbs = new Swiper(".banner-img-swiper", {
    loop: true,
    spaceBetween: 0,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesProgress: true,
  });

  const swiperMain = new Swiper(".banner-img-swiper2", {
    loop: true,
    spaceBetween: 10,
    autoHeight: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: { swiper: swiperThumbs },
  });
});
</script>
{% endblock %}