@use '../variables';

.acesso-rapido a, .acesso-rapido a:hover {
  text-decoration: none !important;
}

.quick-access {
    border: 1px solid variables.$quick-access-color; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: 0.2s ease-in-out;
    background-color: #fff;
    height: 100%;
  }
  
  .quick-access:hover {
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    transform: scale(1.02);
    border-color: variables.$quick-access-color;
  }
  
  .quick-access-icon {
    width: 52px;
    height: 52px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .quick-access-title {
    font-size: 14px;
    font-weight: 500;
  }