@use '../variables.scss';

[data-theme=dark] {
  .list-agenda-block {
    background-color: variables.$color-black;
    border-top: 0.5px solid variables.$color-white;
    border-bottom: 0.5px solid variables.$color-white;
  }

  .list-agenda-header {
    h1,h2,h3,h4,h5,h6{
      color: variables.$color-white;
    }
  }

  .list-agenda-mes {
    h3 {
      color: variables.$color-white;
    }
  }

  .agenda-item {
    background: variables.$color-agenda-item-bg-escuro;
    border: 0.57px solid variables.$color_white;
    box-shadow: none;
  }

  .agenda-item--title {
    color: variables.$color-white;
    a {
      color: variables.$color-white;
    }
  }

  .agenda-item--divider {
    border: 1.15px solid variables.$color_white;
  }

  .agenda-item--descricao {
    color: variables.$color_white;
  }

  .agenda-item--local,
  .agenda-item--horario {
    span {
      color: variables.$color_white;
    }
  }

  .agenda-item--icon {
    color: variables.$color-white;
  }

  .daypicker-wrapper {
    .day,
    .day > a:link,
    .day > a:visited {
      color: variables.$color-white;
    }
    .day.has-appointment,
    .day.has-appointment > a:link,
    .day.has-appointment > a:visited,
    .day.has-appointment > a:hover {
      color: variables.$color-white !important;
    }

    .daypicker li:nth-child(1),
    .daypicker li:nth-child(7) {
      &.day {
        color: variables.$color-grey-700 !important;
      }
    }

    .daypicker li:nth-child(2),
    .daypicker li:nth-child(6) {
      &.day {
        color: variables.$color-grey-500 !important;
      }
    }

    .daypicker li:nth-child(3),
    .daypicker li:nth-child(5) {
      &.day {
        color: variables.$color-grey-50 !important;
      }
      @media (max-width: 576px) {
        &.day {
          color: variables.$color-grey-500 !important;
        }
      }
    }

    .daypicker li:nth-child(4) {
      background-color: variables.$color-black;
      border: 1px solid variables.$color_white;
      &.day {
        color: variables.$color-white !important;
      }
    }
  }
}