@use './../variables.scss';

[data-theme=dark] {
  .btn-ver-todos-container {
    background-color: variables.$color-black;
  }

  .btn-ver-todos-bg-cinza {
    background-color: variables.$color-black;
  }

  .btn-ver-todos {
    border: 1px solid variables.$color-white;
    background-color: variables.$color-black;
    color: variables.$color-white;

    &:hover {
      background-color: variables.$color-grey-800;
      color: variables.$color-white;
    }
  }

}