@use './../variables.scss';

.btn-ver-todos-container {
  padding: 1.6rem 0px;
  background-color: variables.$color-white;
}

.btn-ver-todos-bg-cinza {
  background-color: variables.$color-grey-100;
}

.btn-ver-todos {
  margin-top: 20px;
  display: inline-block;
  padding: 12px 42px;
  border: 1px solid variables.$color-primary;
  background-color: variables.$color-white;
  color: variables.$color-primary;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;

  
  &:hover {
    background-color: variables.$color-link-noticias-hover;
    color: variables.$color-white;
    text-decoration: none;
  }
}