.central-monitoramento-detran {
  padding: 8px 0 32px 0;
}

.dado-monitoramento--wrapper {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  grid-gap: 4px;
}

.dado-monitoramento--numero {
  font-weight: 700;
  font-size: 40px;
  line-height: 22px;
}

.dado-monitoramento--descricao {
  font-weight: 200;
  font-size: 20px;
  line-height: 22px;
  max-width: 65%;
  margin: auto;
}
