$linha-do-tempo-breakpoints: (
  xxl: 1600px,
  xl: 1400px,
  lg: 1200px,
  md: 992px,
  sm: 900px,
  xs: 810px,
  xxs: 576px,
);

$layout-change-breakpoint: map-get($linha-do-tempo-breakpoints, 'xxs');

$icon-resize-breakpoint: map-get($linha-do-tempo-breakpoints, 'md');
$icon-resize-breakpoint1: map-get($linha-do-tempo-breakpoints, 'xs');

$icon-size-per-breakpoint: (
  xxl: 104px,
  xl: 104px,
  lg: 104px,
  md: 104px,
  sm: 900px,
  xs: 810px,
  xxs: 576px,
);

$row-height-per-breakpoint: (
  'lg': (
    'two-items': 340px,
    'one-item': 520px,
  ),
  'md': (
    'two-items': 320px,
    'one-item': 500px,
  ),
  'sm': (
    'two-items': 290px,
    'one-item': 465px,
  ),
  'xs': (
    'two-items': 260px,
    'one-item': 420px,
  ),
);

@function calculate-connector-heights($heights) {
  $result: ();
  @each $breakpoint, $values in $heights {
    $icon-size: map-get($icon-size-per-breakpoint, $breakpoint);
    $result: map-merge(
      $result,
      (
        $breakpoint: (
          'odd': ((map-get($values, 'one-item') / 2) - $icon-size - 5px),
          'even':(map-get($values, 'two-items') + 25px - $icon-size),
        ),
      )
    );
  }
  @return $result;
}

$connector-line-height-per-breakpoint: calculate-connector-heights(
  $row-height-per-breakpoint
);

@mixin card-aspect-ratio {
  --card-aspect-ratio: 1.3;
  aspect-ratio: var(--card-aspect-ratio);
  max-height: 360px;

  @media (max-width: map-get($linha-do-tempo-breakpoints, 'lg')) {
    --card-aspect-ratio: 1.1;
    max-height: 340px;
    --card-width: calc(var(--card-max-height) * var(--card-aspect-ratio));
  }

  @media (max-width: map-get($linha-do-tempo-breakpoints, 'md')) {
    --card-aspect-ratio: 1.1;
    max-height: 320px;
    --card-width: calc(var(--card-max-height) * var(--card-aspect-ratio));
    h3 {
      font-size: 1.1rem;
    }
    font-size: 0.8rem;
  }

  @media (max-width: map-get($linha-do-tempo-breakpoints, 'sm')) {
    --card-aspect-ratio: 1.1;
    max-height: 290px;
    --card-width: calc(var(--card-max-height) * var(--card-aspect-ratio));
  }

  @media (max-width: map-get($linha-do-tempo-breakpoints, 'xs')) {
    --card-aspect-ratio: 1.1;
    max-height: 33dvw;
    --card-width: calc(var(--card-max-height) * var(--card-aspect-ratio));
  }

  @media (max-width: map-get($linha-do-tempo-breakpoints, 'xxs')) {
    --card-aspect-ratio: 1.1;
    max-height: 65dvw;
    --card-width: calc(var(--card-max-height) * var(--card-aspect-ratio));
  }
}

@media (max-width: map-get($linha-do-tempo-breakpoints, 'md')) {
  .linha-do-tempo {
    .container {
      --bs-gutter-x: 0;
      max-width: 90%;
    }
  }
}

@mixin linha-do-tempo-row-height-mixin {
  @each $breakpoint, $heights in $row-height-per-breakpoint {
    $height-two-items: map-get($heights, 'two-items');
    $height-one-item: map-get($heights, 'one-item');

    @media (min-width: $layout-change-breakpoint) {
      @media (max-width: map-get($linha-do-tempo-breakpoints, $breakpoint)) {
        &:has(:first-child:nth-last-child(2)) {
          max-height: calc(#{$height-two-items} + 0.5rem);
        }
        &:has(:first-child:nth-last-child(1)) {
          max-height: calc(#{$height-one-item} + 0.5rem);
        }
      }
    }
  }
}

@mixin group-icon-mixin {
  @media (max-width: $icon-resize-breakpoint) {
    svg {
      width: 80px;
      height: 80px;

      circle {
        r: 36px;
      }
    }

    .calendar-icon {
      font-size: 1.5rem ;
    }
  }

  @media (max-width: $icon-resize-breakpoint1) {
    svg {
      width: 72px;
      height: 72px;

      circle {
        r: 34px;
      }
    }

    .calendar-icon {
      font-size: 1.4rem ;
    }
  }
}

@mixin connector-line-mixin {
  @each $breakpoint, $heights in $connector-line-height-per-breakpoint {
    $height-one-item: map-get($heights, 'odd');
    $height-two-items: map-get($heights, 'even');

      // .linha-do-tempo__item {
        @media (min-width: $layout-change-breakpoint) {
          @media (max-width: map-get($linha-do-tempo-breakpoints, $breakpoint)) {
            &:nth-child(odd) {
              .linha-do-tempo-calendar-group::after {
                background-color: red;
                height: #{height-one-item}
              }
            }
            &:nth-child(even) {
              .linha-do-tempo-calendar-group::after {
                background-color: green;
                height: #{height-two-items}
              }
            }
          }
        // }
    }
  }
}