@use '../variables.scss';

.linha-do-tempo {
  display: flex;
  flex-direction: row;
  height: min-content;
}

.card-linha-do-tempo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: solid 4px variables.$color-primary;
  padding: 2rem;
  max-height: 360px;
  aspect-ratio: 1.3;
  overflow-y: scroll;
  z-index: 15;
  background-color: white;
}

@media (min-width: 1200px) {
  .row.block-linha-do-tempo {
    &:has(:first-child:nth-last-child(2)) {
      max-height: calc(360px + .5rem);
    }
    &:has(:first-child:nth-last-child(1)) {
      max-height: calc(540px + .5rem);
    }
  }

  .linha-do-tempo__item {
    position: relative;

    &:not(:first-child) {
      &:nth-child(odd) {
        transform: translateY(-50%);
      }
    }
    
    &:nth-child(even) {
      transform: translateY(calc(-50%));
    }
  }
}

.linha-do-tempo__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0 1rem 0;
  // margin-top: 0;

  &:nth-child(even) {
    justify-content: flex-end;
    .arrow.right {
      visibility: hidden;
    }
  }

  &:nth-child(odd) {
    justify-content: flex-start;
    .arrow.left {
      visibility: hidden;
    }
  }
}

.arrow {
  border: solid variables.$color-primary;
  background-color: variables.$color-primary;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  z-index: 10;
}

.right {
  -webkit-transform: translateX(-75%) rotate(-45deg);
  transform: translateX(-75%) rotate(-45deg);
}

.left {
  -webkit-transform: translateX(75%) rotate(135deg);
  transform: translateX(75%) rotate(135deg);
}

.card-linha-do-tempo {
  position: relative;
}
