@use "./../variables.scss";

[data-theme="dark"] {
  .titulo-container {
    .titulo-azul {
      color: variables.$color-white;
      @media (max-width: 768px) {
        font-size: 1.4rem;
      }
      @media (max-width: 360px) {
        font-size: 1.15rem;
      }
      @media (forced-colors: active) {
        color: variables.$color-on-background !important;
      }
    }
  }

  


  .titulo-bg-azul {
    background-color: variables.$color-white;

    .titulo-1 {
      color: variables.$color-black;
    }

    .titulo-linha {
      svg {
        line {
          stroke: variables.$color-black;
        }
      }
    }
  }

  .titulo-bg-cinza {
    background-color: variables.$color-black;
    .titulo-linha {
      svg {
        line {
          stroke: variables.$color-white;
        }
      }
    }
  }

  .titulo-bg-default {
    background-color: variables.$color-white;

    .titulo-1 {
      color: variables.$color-black;
    }

    .titulo-linha {
      svg {
        line {
          stroke: variables.$color-black;
        }
      }
    }
  }

  .titulo-1 {
    color: variables.$color-white;
  }

  .titulo-linha {
    svg {
      line {
        stroke: variables.$color-white;
      }
    }
  }
}
