.titulo-container {
    width: 100%;
        padding-bottom: 16px;
 }
 
 
 .titulo-bg-azul {
    background-color: #305A9C;
    padding: 2rem 0;
   
    .titulo-1 {
        color: #FFFFFF;
    }
 }
 
 
 .titulo-1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 8px;
    color: #305A9C;
 }
 
 
 .titulo-linha {
    padding-top: 8px;
    padding-bottom: 8px;
 }
 