.titulo-container {
    width: 100%;
    --titulo-color: #305A9C;
    padding: 2rem 0;
}

.titulo-1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: var(--titulo-color);
    margin-bottom: 16px;
}

.titulo-linha {
    padding-top: 8px;
    padding-bottom: 8px;
    
    svg path {
        stroke: var(--titulo-color);
    }
}

.titulo-bg-azul {
    background-color: #305A9C;
    
    --titulo-color: #FFFFFF;
}