.titulo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    background: #305A9C;
    text-align: center;
    margin: 20px 0;
}