{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container my-5 edital-page-wrapper">
    <div class="row">
        <div class="col-12 text-center">
            {% include 'include/titulo.html' with titulo=page.titulo_publicacao bgClass='titulo-padding-menor' classes='mb-2 titulo-azul titulo-normal' remover_svg=1 %}
            <h2 class="h4 text-muted mb-4">{{ page.title }}</h2>

            <div class="mb-5">
                <div class="row justify-content-center mb-3">
                    <div class="col-auto">
                        <p><strong>Data de Publicação:</strong> {{ page.data_publicacao|date:"d/m/Y" }}</p>
                    </div>
                    <div class="col-auto">
                        <p><strong>Situação:</strong> <span class="badge rounded-pill badge-situacao {{ page.situacao }}">{{ page.get_situacao_display }}</span></p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8 text-start">
                        {{ page.descricao|richtext }}
                    </div>
                </div>
            </div>

            <div ><h3 class="mb-2 titulo-acompanhamento">Acompanhamento das Publicações</h3></div>

            {% if fases_ordenadas %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover edital-fases-table">
                        <thead class="fases-edital-header">
                            <tr>
                                <th scope="col" class="th-fase" style="width: 15%;">Data/Hora</th>
                                <th scope="col" class="th-fase" style="width: 35%;">Fase</th>
                                <th scope="col" class="th-fase">Anexos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fase in fases_ordenadas %}
                                {% include_block fase %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Nenhuma fase foi adicionada a este edital ainda.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}