{% load wagtailcore_tags %}

<tr>
    <td>{{ value.data_fase|date:"d/m/Y H:i" }}</td>
    <td><strong class="fase-titulo">{{ value.titulo_fase }}</strong></td>
    <td>
        {% for block in value.anexo %}
            {% if block.block_type == 'arquivo' %}
                <a href="{{ block.value.documento.url }}" target="_blank" class="text-decoration-none">
                    <i class="fas fa-file-download me-2"></i>
                    {{ block.value.nome_documento }}
                </a>
            {% elif block.block_type == 'link_externo' %}
                <a href="{{ block.value.url }}" target="_blank" class="text-decoration-none">
                    <i class="fas fa-external-link-alt me-2"></i>
                    {{ block.value.nome_link }}
                </a>
            {% endif %}
        {% endfor %}
    </td>
</tr>