@import "tailwindcss" prefix(tw) important;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/*Add all folder with class of tailwind*/
@source '../../sitepadrao/static';
@source '../../sitepadrao/templates';
@source '../../frontend/scss';
@source '../../home/templates';
@source '../../home/static';
@source '../../search/templates';

@theme static {
  --color-primary: #30599B;
  --color-primary-escuro: #30599B;

  --color-primary-light: #396BBB;

  --color-gradient-inicio: #396BBB;
  --color-gradient-fim: #1A3155;

  --font-inter: 'Inter', sans-serif;
}