@use  './variables.scss';
@use  './sprite.scss';

@use './sitepadrao/index.scss' as sitepadrao;

@use  './barraidentidadepb/index.scss' as barraidentidadepb;
@use  './home/index.scss' as home;
@use  './blocks/index.scss' as blocks;
@use  './noticias/index.scss' as noticias;
@use './search/search.scss' as search;

/*Arquivo para customizar o bootstrap*/
@use './customBT';

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

$global-font-family: 'Inter', sans-serif;

$global-link-color: #396BBB !default;
$global-link-hover-color: #30599B !default;

// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "./rawline-font.scss";

// 3. Your custom mixin overwrites of ukit.
@mixin hook-card() { color: #000; }

@import "uikit/src/scss/uikit-theme.scss";


body {
    background-color: variables.$color-white;
    font-family: 'Inter', sans-serif;
}

.image-left {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}
.image-right {
    float: right;
    margin: 0.5em;
}
.image-inline {
    float: none;
}