$primary-color: #fff;

$top-icons: invert(100%);
$top-background-busca: #0f2f4e;
$quick-access-color: rgba(48, 89, 155, 1);

// UIKit
// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;