@use '../../variables.scss';

// Mixin para o efeito de hover nos ícones sociais
@mixin social-icon-hover {
  background-color: variables.$color-primary;
  box-shadow: 0 4px 10px variables.$color-card-shadow-hover;

  i {
    color: variables.$color-on-primary;
    transform: scale(1.15);
  }
}

.eventos-page-container {
  background-color: variables.$color-white;
}

.evento-page--title {
  padding-left: 8px;
  color: variables.$color-primary;
  font-weight: 700;
  font-size: 40px;
}

.evento-barra-publicacao {
  padding: 8px 0;
}

.evento-page-publicacao {
  font-weight: 400;
  font-size: 12px;
  padding-left: 8px;
  color: variables.$color-grey-600;
}

.evento-page-descricao {
  padding: 16px 0px 8px 0px;
  color: variables.$color-grey-600;
  font-weight: normal;
  font-size: 32px;
  padding-bottom: 32px;
}

.evento-page-content {
  color: variables.$color-grey-600;
  font-weight: normal;
  font-size: 32px;
  text-align: justify;
}

.evento-conteudo {
  padding-top: 8px;
  padding-bottom: 32px;
}