@use './../../variables.scss';

[data-theme=dark] {
  .eventos-page-container {
    background-color: variables.$color-black;
  }
  .evento-page--title {
    color: variables.$color-white !important;
  }
  .evento-page-publicacao {
    color: variables.$color-white !important;
  }
  .evento-page-descricao {
    color: variables.$color-white !important;
  }
  .evento-page-content {
    color: variables.$color-white !important;
  }
}