@use './../../variables.scss';
[data-theme=dark] {
  .mural-eventos {
    background-color: variables.$color-black;
    border-top: 0.5px solid variables.$color-white;
    border-bottom: 0.5px solid variables.$color-white;
    .evento-card {
      background-color: variables.$color-black;
      box-shadow: 0 1px 4px variables.$color-white;

      &:hover {
        box-shadow: 0 4px 10px variables.$color-white;
      }

      &::before {
        background-color:  variables.$color-white; //#2f5597;
      }
    }

    .evento-title {
      color: variables.$color-white; //#2f5597;
    }

    .evento-data {
      color: variables.$color-white;//#2f5597;
    }

    .ver-todos-btn {
      a {
        border: 1px solid variables.$color-white;//#2f5597;
        color: variables.$color-white;//#2f5597;

        &:hover {
          background-color: variables.$color-white;//#2f5597;
          color: variables.$color-black;
        }
      }
    }
  }
}