@use "../variables.scss";
@use  '../sprite';

[data-theme="dark"] {
  .header-logo {
    filter: brightness(0) invert(1);
  }
  
  .header-input-search {
    border: 1.5px solid variables.$color-white;
    border-right: 0.5px solid variables.$color-white;
    background-color: variables.$color-black;
    color: variables.$color-white;
  }

  .header-btn-search {
    border: 1.5px solid variables.$color-white;
    border-left: 0.5px solid variables.$color-white;
    background-color: variables.$color-black;
    color: variables.$color-white;

    svg path {
      fill: variables.$color-white;
    }
  }

  .header-acessibilidade--vlibras {
    color: variables.$color-white !important;
    &:before {
      @include sprite.sprite(sprite.$vlibras);
    }
  }

  .header-acessibilidade--contraste {
    border-right-color: variables.$color-white !important;
    color: variables.$color-white !important;
    &:before {
      @include sprite.sprite(sprite.$contraste);
    }
  }

  .header-tools {
    border-left: 1px solid variables.$color-white;
  }

  .header-acessibilidade--fonts {
    color: variables.$color-white !important;
  }

  .header-intranet-user-text {
    color: variables.$color-white !important;
  }

  .header-intranet-user-icon-wrapper {
    border: 2px solid variables.$color-white !important;
  }

  .header-intranet-user-icon {
    fill: variables.$color-white !important;
  }

  a#dropdownUser {
    color: variables.$color-white !important;
  }

  .intranet-top-menu-wrapper {
    background-color: variables.$color-grey-900 !important;
    border-top: 1px solid variables.$color-dark-theme-border;
    border-bottom: 1px solid variables.$color-dark-theme-border;

    .navbar-nav .nav-link {
      color: variables.$color-white;

      &:hover {
        color: variables.$color-primary-light;
      }
    }
  }

  .dropdown-menu {
    background-color: variables.$color-grey-900;
    border-color: variables.$color-dark-theme-border;
    .dropdown-item {
      color: variables.$color-white;
    }
  }
}