@use '../variables.scss';

[data-theme="dark"] {
  .template-intranet-index-page {
    .intranet-block-wrapper {
      background-color: variables.$color-grey-800;
      border: 1px solid variables.$color-grey-700;

      &:hover {
        background-color: variables.$color-grey-700;
        transform: translateY(-3px);
        box-shadow: 0 6px 18px variables.$color-banner-shadow-hover;
      }
    }

    .intranet-widgets .intranet-widget {
      background: variables.$color-grey-800;
      border: 1px solid variables.$color-grey-700;

      &:hover {
        background: variables.$color-grey-700;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: variables.$color-white;
    }

    p {
      color: variables.$color-grey-220;
    }
  }
}
