@use '../variables.scss';

[data-theme="dark"] {
  .menu-wrapper {
    background-color: variables.$color-grey-900;

    .site-menu-nav-link,
    .dropdown-toggle {
      color: variables.$color-white;

      &:hover {
        background-color: variables.$color-grey-800;
      }
    }

    .nav-item.active > .nav-link {
      background-color: variables.$color-black;
    }

    // Dropdown (Mega Menu)
    .site-menu-dropdown-menu {
      background-color: variables.$color-grey-900;
      border-top-color: variables.$color-primary;
      box-shadow: 0 4px 8px variables.$color-overlay-30;
    }

    // Acordeão dentro do Dropdown
    .sub-menu-accordion {
      .site-menu-accordion-button {
        background-color: variables.$color-grey-800;
        color: variables.$color-white;
        border-bottom-color: variables.$color-grey-700;

        &:not(.collapsed) {
          background-color: variables.$color-black;
        }

        &::after {
          filter: brightness(0) invert(1);
        }
      }

      .site-menu-accordion-body {
        background-color: transparent;
      }

      .site-submenu-dropdown-item {
        color: variables.$color-grey-200;

        &:hover {
          background-color: variables.$color-grey-800;
          color: variables.$color-white;
        }
      }
    }

    // Itens de lista sem subnível
    .site-menu-submenu-item-li > .dropdown-item {
      color: variables.$color-white;

      &:hover {
        background-color: variables.$color-grey-800;
      }
    }

    // Mobile
    .site-menu-navbar-collapse {
      @media (max-width: 991.98px) {
        background-color: variables.$color-grey-900;

        .site-menu-nav-link, .dropdown-toggle, .site-menu-nav-tools .nav-link {
          color: variables.$color-white;
        }

        .header-user-icon-wrapper {
          border-color: variables.$color-white;
        }

        .header-user-icon {
          fill: variables.$color-white;
        }

        .header-user-text {
          color: variables.$color-white;
        }

        .dropdown-menu .dropdown-item {
          color: variables.$color-white;
        }
      }
    }
  }
}