{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="container">
        {% if settings.core.SiteSettings.is_periodo_eleitoral and page.sensivel_periodo_eleitoral %}
            <h2 class="text-center tw:mt-24 tw:mb-12 tw:text-red-700 tw:font-bold tw:text-6xl">
                {{settings.core.SiteSettings.texto_informativo_periodo_eleitoral}}
            </h2>
            <div class="row">
                <div class="col-6">
                    <img width="250px" src="{% static 'img/tribunal_superior_eleitoral.png' %}" alt="Tribunal Superior Eleitoral" class="img-fluid" />
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <img width="170px" src="{% static 'img/tribunal_regional_eleitoral_pb.png' %}" alt="Tribunal Regional Eleitoral da Paraíba" class="img-fluid" style="display: block;position: relative;top: -20px;"/>
                </div>
            </div>
        {% else %}
            {% if page.get_imagem_destaque and not page.slideshow_imagens %}
                <div class="d-flex justify-content-center"> 
                    {% picture page.get_imagem_destaque format-{avif,webp,jpeg} max-758x426 loading="lazy" sizes="100%" %} 
                </div>
            {% else %}
            <!-- Slider main container -->
                <div class="swiper carrossel-imagens-noticia">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for imagem in page.images %}
                            {% if imagem.block_type == 'imagem' and imagem.value %}
                                <div class="swiper-slide">
                                    {% picture imagem.value original format-{avif,webp,jpeg} max-758x426 loading="lazy" sizes="100%" class="image-noticia-carrossel" %} 
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination swiper-banners-pagination"></div>
                </div>
            {% endif %}
            <div class="page-noticias-header tw:mt-12 tw:mb-12">
                <h1 class="index-header__title index-header__title--blog">{{ page.title }}</h1>
                {% comment %} {% if page.descricao %}
                    <p>{{ page.descricao }}</p>
                {% endif %} {% endcomment %}
                {% comment %} {% if page.data_publicacao and page.latest_revision_created_at %}
                    <div class="blog__published">
                       Publicação {{ page.data_publicacao|date:"d/m/Y H:i" }}
                    </div>
                    <div>
                        {% if page.latest_revision_created_at %}
                            <p>Atualização {{ page.latest_revision_created_at|date:"d/m/Y H:i" }}</p>
                        {% endif %}
                    </div>
                {% endif %} {% endcomment %}
            </div>
            <div class="tw:text-justify">
                {{ page.body }}

                {% comment %} {% if page.get_tags %}
                <p class="blog__tag-introduction">Find more blog posts with similar tags</p>
                    <div class="blog-tags blog-tags--condensed">
                        <span class="u-sr-only">Filter blog posts by tag</span>
                        {% for tag in page.get_tags %}
                            <a href="{{ tag.url }}" class="blog-tags__pill">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %} {% endcomment %}
            </div>
        {% endif %}
    </div>
    {% if not settings.core.SiteSettings.is_periodo_eleitoral and not page.sensivel_periodo_eleitoral %}
        <div class="container tw:mt-16 tw:mb-0">
            <div class="titulo-container text-center">
                <div class="d-flex flex-column align-items-center">
                    <h1 class="titulo-1">Últimas Notícias</h1>
                    <div class="titulo-linha">
                        <svg width="133" height="3">
                            <line x1="0" y1="1.5" x2="133" y2="1.5" stroke="{% if self.bgAzul %}#ffffff{% else %}#305A9C{% endif %}" stroke-width="3"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="lista-noticias--wrapper tw:bg-neutral-100 tw:mt-2 tw:mb-2">
            <div class="container">
                <div class="row">
                    <div class="row">
                        {% if ultimas_noticias %}
                            {% for noticias in ultimas_noticias %}
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    {% include 'blocks/noticias.html' with noticias=noticias %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-md-12">
                                <p>Ah, droga. Ainda não temos Notícias no site. Desculpe.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center tw:mb-8">
            <a class="btn-ver-todos" href="{% pageurl page.get_parent.specific %}" target="_blank">Ver todos</a>
        </div>
    {% endif %}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
    const swiperServicosOnline = new Swiper('.carrossel-imagens-noticia', {
            slidesPerView: 1,
            spaceBetween: 20,
            autoHeight: true,
            centeredSlides: true,
            centeredSlidesBounds: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            loop: true,
        });
    });
    </script>
{% endblock content %}
