{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static file_extras %}
{% block content %}
    <div class="container">
        {% if settings.core.SiteSettings.is_periodo_eleitoral and page.sensivel_periodo_eleitoral %}
            {% include 'include/periodo-eleitoral.html' %}
        {% else %}
            <div class="page-noticias-header tw:mt-12 tw:mb-12">
                <h1 class="index-header__title index-header__title--blog tw:font-bold">{{ page.title }}</h1>
                {% comment %} {% if page.descricao %}
                    <p>{{ page.descricao }}</p>
                {% endif %} {% endcomment %}
                {% if page.data_publicacao and page.latest_revision_created_at %}
                    <div class="page-noticias__published">
                        <p>
                            Publicação {{ page.data_publicacao|date:"d/m/Y H:i" }},
                            {% if page.latest_revision_created_at %}
                                Atualização {{ page.latest_revision_created_at|date:"d/m/Y H:i" }}
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
            {% if page.get_imagem_destaque %}
                <div class="noticias-img-destaque tw:mb-12">
                    {% if page.get_imagem_destaque and not page.slideshow_imagens %}
                        <div class="d-flex justify-content-center"> 
                            {% picture page.get_imagem_destaque format-{avif,webp,jpeg} height-380 loading="lazy" sizes="100%" %} 
                        </div>
                    {% else %}
                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper noticias-mySwiper2">
                        <div class="swiper-wrapper">
                            {% for imagem in page.images %}
                                {% if imagem.block_type == 'imagem' and imagem.value %}
                                    <div class="swiper-slide swiper-slide-noticias">
                                        {% picture imagem.value original format-{avif,webp,jpeg} height-380 loading="lazy" sizes="100%" class="image-noticia-carrossel" %} 
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div thumbsSlider="" class="swiper noticias-mySwiper">
                        <div class="swiper-wrapper">
                        {% for imagem in page.images %}
                            {% if imagem.block_type == 'imagem' and imagem.value %}
                                <div class="swiper-slide swiper-slide-noticias">
                                    {% picture imagem.value original format-{avif,webp,jpeg} height-380 loading="lazy" sizes="100%" class="image-noticia-carrossel" %} 
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="tw:text-justify">
                {% if page.body %}
                    {{ page.body }}
                {% elif page.body_migrated %}
                    {{ page.body_migrated|safe }}
                {% endif %}

                {% comment %} {% if page.get_tags %}
                <p class="blog__tag-introduction">Find more blog posts with similar tags</p>
                    <div class="blog-tags blog-tags--condensed">
                        <span class="u-sr-only">Filter blog posts by tag</span>
                        {% for tag in page.get_tags %}
                            <a href="{{ tag.url }}" class="blog-tags__pill">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %} {% endcomment %}
            </div>
            {% if page.arquivos and not page.nao_exibir_lista_de_arquivos %}
                <div id="lista-arquivos" class="lista-arquivos tw:mt-8">
                    <h2 class="titulo-2">Arquivos</h2>
                    <ul class="lista-arquivos__list">
                        {% for arquivo in page.arquivos %}
                            <li class="lista-arquivos__item">
                                <a href="{{ arquivo.value.url }}" target="_blank" rel="noopener noreferrer" class="lista-arquivos__link">
                                    <i class="fa-regular {{ arquivo.value|arquivo_icon }} tw:mr-2"></i>{{ arquivo.value.title }}<i class="fa-solid fa-download tw:ml-0"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if not settings.core.SiteSettings.is_periodo_eleitoral and not page.sensivel_periodo_eleitoral %}
        <div class="lista-noticias--wrapper tw:bg-neutral-100 tw:mt-2 tw:mb-2">
            <div class="container">
                {% include 'include/titulo.html' with titulo='Últimas Notícias' bgClass='' bgColor='#305A9C' %}
                <div class="row">
                    <div class="row">
                        {% if ultimas_noticias %}
                            {% for noticias in ultimas_noticias %}
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    {% include 'blocks/noticias.html' with noticias=noticias %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-md-12">
                                <p>Ah, droga. Ainda não temos Notícias no site. Desculpe.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="text-center tw:mb-8">
            {% include "include/ver_todos_btn.html" with ver_todos_url=page.get_parent.specific.url texto_link="Ver todos" %}
        </div>
    {% endif %}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
    var swiper = new Swiper(".noticias-mySwiper", {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
      autoHeight: true,
    });
    var swiper2 = new Swiper(".noticias-mySwiper2", {
      spaceBetween: 10,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
    });
    
    </script>
{% endblock content %}
