{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container">
        {% if not tag %}
            {% include 'include/titulo.html' with titulo=self.introduction|default:'Todas as Notícias' bgClass='' %}
        {% endif %} 

        {% if tag %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="index-header__title">Notícias</h1>
                </div>
                <div class="col-md-12">
                    <p class="index-header__introduction">
                        Visualizando todas as notícias classificadas pela tag 
                        <span class="blog-tags__tag tw:text-primary tw:font-bold">{{ tag }}</span>.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="lista-noticias--wrapper">
        <div class="container">
            <div class="row">
                <div class="row">
                    {% if posts %}
                        {% for noticias in posts %}
                            {% if not noticias.sensivel_periodo_eleitoral or not settings.core.SiteSettings.is_periodo_eleitoral %}
                                
                                {# versão desktop/tablet → mostra todas #}
                                <div class="col-lg-6 col-md-12 col-sm-12 d-none d-md-block">
                                    {% include 'blocks/noticias.html' with noticias=noticias %}
                                </div>

                                {# versão mobile → mostra só as 4 primeiras #}
                                {% if forloop.counter <= 4 %}
                                <div class="col-lg-6 col-md-12 col-sm-12 d-block d-md-none">
                                    {% include 'blocks/noticias.html' with noticias=noticias %}
                                </div>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="col-md-12 tw:text-center">
                            <p>Ainda não temos Notícias no site. Desculpe.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include "include/paginator.html" with posts=posts %}
{% endblock content %}
