{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container">
        {% if not tag %}
            <div class="titulo-container text-center">
                <div class="d-flex flex-column align-items-center">
                    <h1 class="titulo-1">{{self.introduction}}</h1>
                    <div class="titulo-linha">
                        <svg width="133" height="3">
                            <line x1="0" y1="1.5" x2="133" y2="1.5" stroke="{% if self.bgAzul %}#ffffff{% else %}#305A9C{% endif %}" stroke-width="3"/>
                        </svg>
                    </div>
                </div>
            </div>
        {% endif %} 

        {% if tag %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="index-header__title">Notícias</h1>
                </div>
                <div class="col-md-12">
                    <p class="index-header__introduction">Visualizando todas as notícias classificadas pela tag <span class="blog-tags__tag tw:text-primary tw:font-bold">{{ tag }}</span>.</p>
                </div>
            </div>
        {% endif %}

        {% comment %} {% if page.get_child_tags %}
            <ul class="blog-tags">
                <li><span class="blog-tags__pill blog-tags__pill--selected tw:text-primary tw:font-bold ">Todos</span></li>
                {% for tag in page.get_child_tags %}
                    <li><a class="blog-tags__pill tw:text-primary" aria-label="Filter by tag name {{ tag }}" href="{{ tag.url }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %} {% endcomment %}
    </div>
    <div class="lista-noticias--wrapper tw:bg-neutral-100">
        <div class="container">
            <div class="row">
                <div class="row">
                    {% if posts %}
                        {% for noticias in posts %}
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                {% include "include/noticia-list-card.html" %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-md-12">
                            <p>Ah, droga. Ainda não temos Notícias no site. Desculpe.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# Only show pagination if there is more than one page to click through #}
  {% if posts.paginator.num_pages > 1 %}
    <div class="noticias-pagination--wrapper tw:mb-16 tw:mt-16">
      <div class="container">
        <div class="noticias-pagination--layout">
          <a class="noticias-pagination-link" href="?page={% if posts.has_previous %}{{ posts.previous_page_number }}{% else %}1{% endif %}">
            <li class="noticias-pagination-item {% if not posts.has_previous %}disabled{% endif %} with-border">              
                <span>
                  <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.41 10.59L2.83 6L7.41 1.41L6 0L0 6L6 12L7.41 10.59Z" style="fill: var(--paginator-svg-color, #000);"/>
                  </svg>
                </span>
            </li>
          </a>
          
          {% if posts.paginator.num_pages > 4 %}
            <a class="noticias-pagination-link" href="?page=1">
            <li class="noticias-pagination-item {% if 1 == posts.number %} active{% endif %}">
              1
            </li>
            </a>
            {% if posts.number > 3 %}
              <li class="noticias-pagination-item disabled"><span>...</span></li>
            {% endif %}
            {% for page_num in posts.paginator.page_range %}
              {% if not posts.has_previous %}
                {# Primeira página: mostra 2 à frente #}
                {% if page_num >= posts.number and page_num <= posts.number|add:'2' and page_num != 1 and page_num != posts.paginator.num_pages %}
                  <a class="noticias-pagination-link"  href="?page={{ page_num }}">
                  <li class="noticias-pagination-item {% if page_num == posts.number %} active{% endif %}">
                    {{ page_num }}
                  </li>
                  </a>
                {% endif %}
              {% else %}
                {# Outras páginas: mostra 1 atrás e 1 à frente #}
                {% if page_num >= posts.number|add:'-1' and page_num <= posts.number|add:'1' and page_num != 1 and page_num != posts.paginator.num_pages %}
                  <a class="noticias-pagination-link" href="?page={{ page_num }}">
                  <li class="noticias-pagination-item {% if page_num == posts.number %} active{% endif %}">
                    {{ page_num }}
                  </li>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
            {% if posts.has_previous and posts.number < posts.paginator.num_pages|add:'-2' %}
              <li class="noticias-pagination-item disabled"><span>...</span></li>
            {% elif not posts.has_previous and posts.number < posts.paginator.num_pages|add:'-3' %}
              <li class="noticias-pagination-item disabled"><span>...</span></li>
            {% endif %}
            <a  class="noticias-pagination-link" href="?page={{ posts.paginator.num_pages }}">
            <li class="noticias-pagination-item {% if posts.paginator.num_pages == posts.number %} active{% endif %}">
              {{ posts.paginator.num_pages }}
            </li>
            </a>
          {% else %}
            {% for page_num in posts.paginator.page_range %}
            <a class="noticias-pagination-link" href="?page={{ page_num }}">
              <li class="noticias-pagination-item {% if page_num == posts.number %} active{% endif %}">
                {{ page_num }}
              </li>
            </a>
            {% endfor %}
          {% endif %}

          <a class="noticias-pagination-link" href="?page={% if posts.has_next %}{{ posts.next_page_number }}{% else %}{{ posts.paginator.num_pages }}{% endif %}" class="">
          <li class="noticias-pagination-item{% if not posts.has_next %} disabled{% endif %} with-border">
              <span>
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.589966 10.59L5.16997 6L0.589966 1.41L1.99997 0L7.99997 6L1.99997 12L0.589966 10.59Z" style="fill: var(--paginator-svg-color, #000);"/>
                </svg>
              </span>
          </li>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
