{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-aviso-page{% endblock %}

{% block content %}

<div class="avisos-page-container">
  <div class="container d-flex flex-column align-items-center justify-content-center">
<h2 class="aviso-page--title">{{ page.title }}</h2>
<div class="d-none d-md-block w-100">
  <hr class="linha-horizontal mb-2">
</div>
<div class="d-none d-md-flex justify-content-between w-100 align-items-center mb-0 linha-compartilhe">
  {% if page.data_publicacao %}
  <h5 class="aviso-page-publicacao cor-texto-corpo mb-0">
    Publicado em {{ page.data_publicacao|date:"d/m/Y H:i" }}
  </h5>
  {% endif %}
  {% include "blocks/redes_sociais_share.html" %}
</div>
<div class="d-none d-md-block w-100">
  <hr class="linha-horizontal mt-2">
</div>
<div class="d-flex d-md-none flex-column align-items-center justify-content-center w-100 mb-2">
  {% if page.data_publicacao %}
  <h5 class="aviso-page-publicacao cor-texto-corpo mb-1">
    Publicado em {{ page.data_publicacao|date:"d/m/Y H:i" }}
  </h5>
  {% endif %}
</div>
<div class="aviso-page-content body-content justify-content-center w-100">
  {% for block in page.body %}
    {% include_block block %}
  {% endfor %}
</div>
<div class="d-flex d-md-none flex-column w-100 mt-3 linha-compartilhe">
  <hr class="linha-horizontal mb-2">
  {% include "blocks/redes_sociais_share.html" %}
</div>
  </div>
</div>

{% endblock %}
