@use './../../variables.scss';

.lista-noticias--wrapper {
   margin: 0px;
   background-color: variables.$color-grey-100;

   .container {
      border-radius: 5px;
      padding: 8px 40px;
   }
}

@media screen and (max-width: 576px) {
   .lista-noticias--wrapper .container {
       padding: 8px 16px;
   }
   .lista-noticias--wrapper .row {
      display: flex;
      margin: 0;
      padding: 0;
   }
}

