@use './../../variables.scss';

.noticias-wrap {
    margin-bottom: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 20px 0px;
    position: relative;
    transition: 0.5s;
    height: 100%;
}

.noticias-conteudo {
  margin-top: 0px;
  padding: 10px;
  zoom: 1;
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  min-height: 12.5em !important;
  max-height: 14em;
  height: 100%;
  min-height: 190px;
  border-top: 2px solid variables.$color-primary;
  background-color: variables.$color-white;
}

.noticias-conteudo--data {  
  position: absolute;
  z-index: 2;
  margin: 0 0 20px 10px;
  margin-top: 0px;
  margin-top: -10px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 10px;
  background-color: variables.$color-primary;
  color: variables.$color-white;
}

.noticias-conteudo--heading {
  color: variables.$color-primary;
}

.noticias-conteudo--imagem {
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
  float: left;
  width: 150px;
  padding-top: 10px;
  height: 150px;

  img {
    margin: 20px 0px;
    display: block;
    height: 130px;
    object-fit: cover;
  }
  &.semImagem {
    margin-bottom: 8px;
  }
}

.noticias-conteudo--body {
  display: table-cell;
  vertical-align: top;
  width: 10000px;
  padding-top: 9px;
  overflow: hidden;
  zoom: 1;

  p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 0.98rem;
  }
}

.noticias-conteudo--heading {
  margin-top: 16px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.noticias-title-wrapper {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.5em;
  line-height: 1.75em;
}

.noticias-descricao {
  text-align: justify;
  display: -webkit-box;
  margin-right: 5px;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 7em;
  line-height: 1.75em;
}

.titulo-noticia {
  color: variables.$color-primary;
}

@media screen and (max-width: 576px) {
  .heading-desktop {
    display: none;
  }
  .heading-mobile {
    display: block !important;
  }
  .noticias-wrap {
    padding: 10px 0;
  }
  .noticias-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
  }
  .noticias-wrap p {
    text-align: justify;
    hyphens: auto;
    overflow-wrap: break-word;
  }
  .noticias-conteudo {
    min-height: 23em !important;
    max-height: 26em;
    border: 2px solid variables.$color-primary;
  }
  .noticias-conteudo .col {
    margin-bottom: 15px;
  }
  .noticias-conteudo--data {
    margin: 0;
    margin-top: -10px;
  }
  .noticias-conteudo--imagem {
    width: 100%;
    padding-right: 0;
    margin: 0 0 15px 0;
    padding-top: 5px;
    aspect-ratio: 21/10;
  }
}