{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="lista-corpo-tecnico--wrapper">
        <div class="container">
            <div class="row">
                <div class="row">
                    {% if posts %}
                        {% for page in posts %}
                          <h3 class="corpo-tecnico-list-item-title">
                            <strong>
                              <a href="{% pageurl page %}">{{ page.title }}</a>
                            </strong>
                          </h3>
                        {% endfor %}
                    {% else %}
                        <div class="col-md-12 tw:text-center">
                            <p>Ainda não temos nada por aqui. Desculpe.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include "include/paginator.html" with posts=posts %}
{% endblock content %}