{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="lista-corpo-tecnico--wrapper">
        <div class="container">
            <div class="corpo-tecnico-content">
                {% include 'include/titulo.html' with titulo=page.page.sub_titulo|default:"Conheça nossa equipe" bgClass='' %}
                {% if page.tecnico_em_destaque %}
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div class="caixa-eliptica-sombra">
                                <div class="caixa-eliptica-conteudo">
                                    {% if page.tecnico_em_destaque.imagem %}
                                        {% picture page.tecnico_em_destaque.imagem width-400 %}
                                    {% else %}
                                        <div class="caixa-eliptica-imagem-default">
                                            <img src="{% static 'img/pessoa-default.svg' %}" alt="Imagem padrão de pessoa" width="205" height="205">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 d-flex flex-column">
                            <div class="corpo-tecnico-header">
                                <span class="corpo-tecnico-header--title">{{ page.tecnico_em_destaque.title }}</span>
                                <span class="corpo-tecnico-header--function">{{ page.tecnico_em_destaque.funcao }}</span>
                            </div>
                            <div class="corpo-tecnico-bio">
                                {% if page.tecnico_em_destaque.bio %}
                                    {{ page.tecnico_em_destaque.bio }}
                                {% endif %}
                            </div>
                            <div class="corpo-tecnico-destaque-botao-vertodos">
                                {% include "include/ver_todos_btn.html" with ver_todos_texto_link="Ver mais" ver_todos_url=page.tecnico_em_destaque.url %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if page.grupos_corpo_tecnico %}
                    {% for grupo in page.grupos_corpo_tecnico %}
                        {% if grupo.value.grupo_page %}
                            {% with membros=grupo.value.grupo_page.get_corpo_tecnico %}
                                {% if membros %}
                                    {% include 'include/titulo.html' with titulo=grupo.value.titulo bgClass='' %}
                                    <div class="row">
                                        {% for membro in membros %}
                                            <div class="col-12 col-md-6 col-lg-3 mb-3">
                                                <div class="corpo-tecnico-grupo-card">
                                                    <a href="{{ membro.url }}" class="corpo-tecnico-grupo-card-link">
                                                        <div class="caixa-eliptica small">
                                                            <div class="caixa-eliptica-conteudo">
                                                                {% if membro.imagem %}
                                                                    {% picture membro.imagem width-300 %}
                                                                {% else %}
                                                                    <div class="caixa-eliptica-imagem-default">
                                                                        <img src="{% static 'img/pessoa-default.svg' %}" alt="Imagem padrão de pessoa" width="205" height="205">
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="corpo-tecnico-info">
                                                            <span class="corpo-tecnico-nome">{{ membro.title }}</span>
                                                            <span class="corpo-tecnico-funcao">{{ membro.funcao }}</span>
                                                        </div>
                                                        <div class="corpo-tecnico-bio">
                                                            <span class="corpo-tecnico-bio-text">
                                                                {{ membro.bio }}
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% include "include/ver_todos_btn.html" with ver_todos_texto_link="Ver todos" ver_todos_url=grupo.value.grupo_page.url btn_class="text-center" %}
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% include "include/paginator.html" with posts=posts %}
{% endblock content %}