{% extends "base.html" %}
{% load wagtailimages_tags static %}

{% block content %}
<div class="corpo-tecnico-grupo-wrapper">
  <div class="container">
    {% include 'include/titulo.html' with titulo=page.title|default:"Corpo técnico" bgClass='' %}

    {% if posts %}
      <div class="row">
        {% for post in posts %}
          <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="corpo-tecnico-grupo-card">
              <a href="{{ post.url }}" class="corpo-tecnico-grupo-card-link">
                <div class="caixa-eliptica small">
                  <div class="caixa-eliptica-conteudo">
                    {% if post.imagem %}
                      {% picture post.imagem width-300 %}
                    {% else %}
                      <div class="caixa-eliptica-imagem-default">
                        <img src="{% static 'img/pessoa-default.svg' %}" alt="Imagem padrão de pessoa" width="205" height="205">
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="corpo-tecnico-info">
                  <span class="corpo-tecnico-nome">{{ post.title }}</span>
                  <span class="corpo-tecnico-funcao">{{ post.funcao }}</span>
                </div>
                <div class="corpo-tecnico-bio">
                  <span class="corpo-tecnico-bio-text">
                    {{ post.bio }}
                  </span>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>Nenhum membro encontrado neste grupo.</p>
    {% endif %}

    {% include "include/paginator.html" with posts=posts %}
  </div>
</div>
  
{% endblock %}