@use '../variables.scss';

.app-versao {
  align-content: center;
}
.app-versao p {
  margin: 0
}

.footer-icones {  
  align-items: center;
}

.footer-wrapper {
  background-color: variables.$footer-color;
}

.footer-sic-logo {
  width: 180px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .footer-layout {
    flex-direction: column;
  }
}
