{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
<!-- Banner da página -->
{% if page.banner %}
<div class="banner-container">
  <div class="banner-inner">
    {% image page.banner width-1600 as banner_image %}
    <img src="{{ banner_image.url }}" alt="{{ page.title }}">
  </div>
</div>
{% endif %}

<!-- Conteúdo principal -->
<div class="lgpd-page container">
    <!-- Cabeçalho Centralizado (SEM O TÍTULO) -->
    <div class="page-header text-center mb-5">
        {% if page.subtitle %}
        <p class="page-subtitle">{{ page.subtitle }}</p>
        {% endif %}
    </div>
   

    {% if page.introducao %}
    <div class="lgpd-content text-center mx-auto mb-5">
        <div class="lgpd-text-content" style="text-align: justify;">
            {{ page.introducao|linebreaks }}
        </div>
    </div>
    {% endif %}

    {% if page.corpo %}
    <div class="content-sections">
        {% for block in page.corpo %}
        <div class="content-section text-center mx-auto mb-5">
            <div class="section-content">
                {% include "include/titulo.html" with titulo=block.value.titulo classes="titulo-com-borda-inferior section-title" bgClass="" remover_svg=True %}
                <div class="section-text" style="text-align: justify;">
                    {{ block.value.texto|richtext }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}