@use  '../variables.scss';
@use  '../sprite';

$sp-navbar-light-icon-color: rgb(255, 255, 255);

:root {
  --sp-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$sp-navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.header-acessibilidade-social--layout {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-gap: 8px;
  padding: 8px 0;
  align-items: center;
}

.header-acessibilidade-social--tools {
  justify-self: end;
  padding-right: 8px;
  width: auto;
  text-align: right;
  text-transform: uppercase;

  li {
    margin: 0 4px;
    display: inline;

    a {
      padding: 0 10px 0 20px;
      margin-left: 0;
      display: inline-block;
      position: relative;
      border-right: 1px solid rgba(0, 0, 0, .2);
    }
    &:last-child {
      a {
        border-right: none;
      }
    }
  }
}

.header-acessibilidade-social--zoom {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 8px;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-left: 1px solid rgba(0, 0, 0, .2);
  padding: 0 8px;
}

.header-acessibilidade-social--links {
  padding: 8px 0;
  
  li a {
    text-indent: -3000px;
    display: inline-block;
    width: 34px;
    height: 33px;
  }
}

#siteaction-contraste > a {
  padding-left: 25px;

  &:before {
    content: "";
    left: 0;
    top: 3px;
    position: absolute;
    @include sprite.sprite(sprite.$contraste);
    filter: variables.$top-icons;
  }
}

#siteaction-vlibras > a {
  &:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    @include sprite.sprite(sprite.$vlibras);
    filter: variables.$top-icons;
  }
}

/* icones do topo */
.portalredes-twitter {
  @include sprite.sprite(sprite.$rede-twitter-topo);
}
.portalredes-youtube {
  @include sprite.sprite(sprite.$rede-youtube-topo);
}
.portalredes-flickr {
  @include sprite.sprite(sprite.$rede-flickr-topo);
}
.portalredes-facebook {
  @include sprite.sprite(sprite.$rede-facebook-topo);
}
.portalredes-googleplus {
  @include sprite.sprite(sprite.$rede-googleplus-topo);
}
.portalredes-slideshare {
  @include sprite.sprite(sprite.$rede-slideshare-topo);
}
.portalredes-soundcloud {
  @include sprite.sprite(sprite.$rede-soundcloud-topo);
}
.portalredes-rss {
  @include sprite.sprite(sprite.$rede-rss-topo);
}
.portalredes-instagram {
  @include sprite.sprite(sprite.$rede-instagram-topo);
}
.portalredes-tumblr {
  @include sprite.sprite(sprite.$rede-tumblr-topo);
}
.portalredes-spotify {
  @include sprite.sprite(sprite.$rede-spotify-topo);
}