@use './../../variables.scss';

[data-theme=dark] {
  .lista-noticias--wrapper {
    background-color: variables.$color-black;
    border-top: 1px solid variables.$color-white;
    border-bottom: 1px solid variables.$color-white;
  }
}
