@use '../../variables.scss';

[data-theme='dark'] {
  .linha-do-tempo-page {
    .linha-do-tempo-page__content {
      .linha-do-tempo-page__titulo {
        color: variables.$color-white;
      }
    }
  }
}

.linha-do-tempo-cards-container {
  padding-bottom: 64px;
}

.linha-do-tempo-page {
  .linha-do-tempo-page__content {
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
    .linha-do-tempo-page__titulo {
      margin: 0 15px;
      color: variables.$primary-color;
    }

    .banner-container {
      margin: auto 0 !important;
      padding: 20px 0 !important;
      margin-bottom: 75px !important;
      height: 315px;

      img {
        object-fit: fill !important;
      }
    }

    .swiper-wrapper {
      display: flex;
      align-items: center; // Centraliza verticalmente
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center; // Centraliza horizontalmente
      align-self: center;
      width: 100%;
      aspect-ratio: 26 / 9 !important;
      overflow-y: hidden !important;
      padding: 0 auto;

      .carrossel-banners--img {
        width: 100%;
        max-width: 1200px; // Ajuste conforme necessário
        object-fit: cover !important;
        margin: 0 auto;
        display: block;
        height: clamp(400px, auto, 600px);
        background-repeat: repeat;
        overflow-y: hidden !important;
      }
    }

    .linha-do-tempo-page__data {
      color: variables.$color-grey-500;
      font-size: 1rem;
      margin-left: 15px;
    }
    .linha-do-tempo-page__descricao {
      font-size: 1.2rem;
      margin: 0 15px;
      text-align: justify;
      text-justify: inter-word;
      margin-bottom: 60px;
    }
  }

  .linha-do-tempo-page__lista-videos {
    .videos-wrapper {
      margin: 0 15px 60px;

      .titulo-container {
        padding-bottom: 0 !important;
      }
      .videos-container {
        display: flex !important;
        flex-wrap: nowrap !important;

        .video-item {
          iframe {
            height: auto !important;
            width: 100% !important;
            border-radius: 10px;
            display: block;
          }

          &::after {
            content: attr(data-video-title);
            display: block;
            margin-left: 2px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: bold;
            color: #333;
            text-align: left;
          }

          .video-fallback {
            display: none;
          }
        }
      }
    }
  }
}
