<div class="header-wrapper">
  <div class="container">
    <div class="header-layout">
      <div>
        <p>sanduiche</p>
      </div>
      <div>
        <p>logo</p>
      </div>
      <div>
        <p>pesquisa</p>
      </div>
      <div>
        <p>contraste-libras</p>
      </div>
      <div>
        <p>tools</p>
      </div>
    </div>
  </div>
  <div class="header-layout">
    <div>
      <p>sanduiche</p>
    </div>
    <div>
      <p>logo</p>
    </div>
    <div>
      <p>pesquisa</p>
    </div>
    <div>
      <p>contraste-libras</p>
    </div>
    <div>
      <p>tools</p>
    </div>
  </div>
</div>