@use './../../variables.scss';

.avisos-container {
  background-color: variables.$color-white;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.avisos-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3rem;
}

.aviso-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover .aviso-card {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px variables.$color-card-shadow-hover;
  }
}

.aviso-card {
  background-color: variables.$color-white;
  border-radius: 8px;
  border: 1px solid variables.$color-grey-210;
  box-shadow: 0 1px 4px variables.$color-card-shadow;
  padding: 1.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  margin: 20px 10px;
  min-height: 240px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 10px variables.$color-card-shadow-hover;

    &::before {
      transform: scaleY(1);
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: variables.$color-primary;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 5;
  }

  .aviso-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: variables.$color-primary;
    margin-bottom: 0.15rem;
    text-align: left;
  }

  .aviso-subtitle {
    font-size: 1.05rem;
    font-weight: 600;
    color: variables.$color-grey-800;
    margin-bottom: 0.8rem;
    text-align: left;
  }

  .aviso-desc-row {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    color: variables.$color-primary;

    .icon-col {
      flex-shrink: 0;
      padding-top: 1px;

      .aviso-icon {
        font-size: 1.4rem;
        color: variables.$color-grey-700;
      }
    }

    .desc-col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    .aviso-descricao {
      margin: 0;
      line-height: 1.8;
      word-break: break-word;
      color: variables.$color-grey-800;
      font-size: 0.95rem;
    }

    .aviso-data {
      margin: 0.5rem 0 0;
      font-size: 0.85rem;
      font-weight: 600;
      color: variables.$color-primary;
    }
  }
}

.aviso-empty {
  color: variables.$color-grey-700;
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 991px) {
  .avisos-wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
