@use './../../variables.scss';

[data-theme='dark'] {
  .mural-avisos {
    background-color: variables.$color-grey-900;
    color: variables.$color-white;

    .aviso-card {
      background-color: variables.$color-grey-800;
      border: 1px solid variables.$color-dark-theme-border;
      box-shadow: 0 1px 4px variables.$color-dark-theme-border;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: variables.$color-grey-700;
        box-shadow: 0 4px 10px variables.$color-dark-theme-border;
      }

      &::before {
        background-color: variables.$color-primary;
      }

      > .aviso-descricao {
        color: variables.$color-grey-400;
      }

      .card-body {
        background-color: transparent;
      }

      .aviso-title {
        color: variables.$color-grey-100;
      }

      .aviso-info {
        .aviso-icon {
          color: variables.$color-dark-theme-border;
        }

        .aviso-descricao-curta {
          color: variables.$color-grey-500;
        }

        .aviso-data {
          color: variables.$color-grey-500;
          font-weight: 600;
        }
      }
    }

    /* Botão "Ver todos" */
    .ver-todos-btn a {
      border: 1px solid variables.$color-white;
      color: variables.$color-white;
      transition: 0.2s;

      &:hover {
        background-color: variables.$color-white;
        color: variables.$color-black;
      }
    }
  }
}
