{% load wagtailcore_tags wagtailimages_tags static %}

{% if content_block.block_type == "contatos_section" %}
  {% with section=content_block.value %}
  <div class="contatos my-4">
    {% if section.section_title %}
      <h3 class="section-title {{ section.title_size }}">{{ section.section_title }}</h3>
    {% endif %}

    <ul class="contatos-list {{ section.list_style }}">
      {% for item in section.itens_contato %}
        {% with contato=item.value %}
          <li class="contato-simples mb-3">
            {% if contato.titulo %}
              <strong class="contato-titulo">{{ contato.titulo }}:</strong>
            {% endif %}

            <ul class="contato-infos list-none ps-0 ms-4">
              {% for info in contato.informacoes %}
                <li class="contato-info-item">
                  <span class="icone">{{ info.icone|safe }}</span>
                  <span class="texto">{{ info.info }}</span>
                </li>
              {% endfor %}
            </ul>

            {% if contato.mostrar_linha_separadora %}
              <hr class="my-3">
            {% endif %}
          </li>
        {% endwith %}
      {% endfor %}
    </ul>
  </div>
  {% endwith %}
{% endif %}
