{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<div class="container my-4">

  {% include 'include/titulo.html' with titulo=page.introduction|default:"Contatos" bgClass='' %}

  <div class="contatos-grid">
    <div class="coluna-esquerda">
      {% for contato in coluna_1 %}
        {% include "contatos/contato_block.html" with content_block=contato %}
      {% endfor %}
    </div>

    <div class="coluna-direita">
      {% for contato in coluna_2 %}
        {% include "contatos/contato_block.html" with content_block=contato %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
