{% load wagtailcore_tags %}

<nav class="uk-navbar-container" style="background-color: transparent;">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav" style="margin-left: 0;">
                    {% for link in links_menu %}
                    <li class="menu-item" style="position: relative;">
                        <a href="{{ link.url }}" class="menu-link" style="color: white; padding: 15px; text-decoration: none;"
                           data-has-submenu="{% if link.submenus.all %}true{% else %}false{% endif %}">
                            {{ link.titulo }}
                        </a>

                        {% if link.submenus.all %}
                        <div class="uk-navbar-dropdown" style="background-color: #0b2f73; color: white; width: 45vw; padding: 1rem 1rem; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
                            <div class="uk-drop-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    {% for sub in link.submenus.all %}
                                        {% if forloop.counter0 < 5 %}
                                            <a href="{{ sub.url }}" target="{{ sub.target }}" class="submenu-link" style="display: block; color: white; text-decoration: none; padding: 5px 0;">
                                                {{ sub.titulo }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div>
                                    {% for sub in link.submenus.all %}
                                        {% if forloop.counter0 >= 5 %}
                                            <a href="{{ sub.url }}" target="{{ sub.target }}" class="submenu-link" style="display: block; color: white; text-decoration: none; padding: 5px 0;">
                                                {{ sub.titulo }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>