{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-intranetpage{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="row">

    {# Coluna de Conteúdo Principal (60%) #}
    {% if col1_blocks %}
      <div class="{{ col1_class }}">
        {% for block in col1_blocks %}
          <div class="intranet-block-wrapper my-3">
            {% include_block block with is_intranet=HABILITAR_SITE_INTRANET is_widget=False %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {# Coluna de Widgets (40%) #}
    {% if widget_blocks %}
      <aside class="{{ widget_class }} intranet-widgets">
        {% for block in widget_blocks %}
          <div class="intranet-widget my-3">
            {% include_block block with is_intranet=HABILITAR_SITE_INTRANET is_widget=True %}
          </div>
        {% endfor %}
      </aside>
    {% endif %}

  </div>
</div>
{% endblock content %}
