{% extends "intranet/intranet_base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<div class="container my-4">
  <div class="row">

    {# --- Layout: 3 colunas (40 / 40 / 20) --- #}
    {% if layout == "40_40_20" %}
      <div class="col-lg-5 col-md-6 col-12">
        {% for bloco in col1_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-block-wrapper my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% empty %}
          <p>Nenhum bloco na Coluna 1</p>
        {% endfor %}
      </div>
      <div class="col-lg-5 col-md-6 col-12">
        {% for bloco in col2_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-block-wrapper my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% empty %}
          <p>Nenhum bloco na Coluna 2</p>
        {% endfor %}
      </div>
      <aside class="col-lg-2 col-12 intranet-widgets">
        {% for bloco in widget_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-widget my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% empty %}
          <p>Nenhum widget</p>
        {% endfor %}
      </aside>

    {# --- Layout: 2 colunas (50 / 50) --- #}
    {% elif layout == "50_50" %}
      <div class="col-md-6 col-12">
        {% for bloco in col1_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-block-wrapper my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% empty %}
          <p>Nenhum bloco na Coluna 1</p>
        {% endfor %}
      </div>
      <div class="col-md-6 col-12">
        {% for bloco in col2_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-block-wrapper my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% empty %}
          <p>Nenhum bloco na Coluna 2</p>
        {% endfor %}
      </div>

    {# --- Layout: 2 colunas (70 / 30) --- #}
    {% elif layout == "70_30" %}
      <div class="col-lg-9 col-12">
        {% for bloco in col1_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-block-wrapper my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% endfor %}
        {% for bloco in col2_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-block-wrapper my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      <aside class="col-lg-3 col-12 intranet-widgets">
        {% for bloco in widget_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-widget my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% empty %}
          <p>Nenhum widget</p>
        {% endfor %}
      </aside>

    {# --- Layout: 1 coluna (100%) --- #}
    {% elif layout == "100_col1" %}
      <div class="col-12">
        {% for bloco in col1_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-block-wrapper my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% empty %}
          <p>Nenhum bloco na Coluna 1</p>
        {% endfor %}
      </div>

    {# --- Layout: 1 coluna (100%) --- #}
    {% elif layout == "100_col2" %}
      <div class="col-12">
        {% for bloco in col2_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-block-wrapper my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% empty %}
          <p>Nenhum bloco na Coluna 2</p>
        {% endfor %}
      </div>

    {# --- Layout: 1 coluna de Widgets (100%) --- #}
    {% elif layout == "100_widget" %}
      <aside class="col-12 intranet-widgets">
        {% for bloco in widget_blocks %}
          {% for content_block in bloco.value.conteudo %}
            <div class="intranet-widget my-3">
              {% include_block content_block %}
            </div>
          {% endfor %}
        {% empty %}
          <p>Nenhum widget</p>
        {% endfor %}
      </aside>
    {% else %}
      <div class="col-12 text-center">
        <p>Nenhum layout detectado.</p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}