{% extends "intranet/intranet_base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container my-4">
  <div class="row">

    {% with col1_class="col-12" col2_class=None widget_class=None %}
      {% if layout == "50_50" %}
        {% with col1_class="col-md-6 col-12" col2_class="col-md-6 col-12" widget_class=None %}
          {{ block.super }}
        {% endwith %}
      {% elif layout == "60_40" %}
        {% with col1_class="col-lg-7 col-12" col2_class="col-lg-5 col-12" widget_class=None %}
          {{ block.super }}
        {% endwith %}
      {% elif layout == "70_30" %}
        {% with col1_class="col-lg-8 col-12" col2_class="col-lg-4 col-12" widget_class=None %}
          {{ block.super }}
        {% endwith %}
      {% elif layout == "80_20" %}
        {% with col1_class="col-lg-9 col-12" col2_class="col-lg-3 col-12" widget_class=None %}
          {{ block.super }}
        {% endwith %}
      {% elif layout == "35_35_30" %}
        {% with col1_class="col-lg-4 col-md-6 col-12" col2_class="col-lg-4 col-md-6 col-12" widget_class="col-lg-4 col-12" %}
          {{ block.super }}
        {% endwith %}
      {% elif layout == "40_40_20" %}
        {% with col1_class="col-lg-5 col-md-6 col-12" col2_class="col-lg-5 col-md-6 col-12" widget_class="col-lg-2 col-12" %}
          {{ block.super }}
        {% endwith %}
      {% else %} {# Default to 100% layout #}
        {% with col1_class="col-12" col2_class=None widget_class=None %}
          {{ block.super }}
        {% endwith %}
      {% endif %}

      {% if col1_class %}
        <div class="{{ col1_class }}">
          {% for block in page.coluna_1 %}
            <div class="intranet-block-wrapper my-3">
              {% include_block block %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if col2_class %}
        <div class="{{ col2_class }}">
          {% for block in page.coluna_2 %}
            <div class="intranet-block-wrapper my-3">
              {% include_block block %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if widget_class %}
        <aside class="{{ widget_class }} intranet-widgets">
          {% for block in page.widgets %}
            <div class="intranet-widget my-3">
              {% include_block block %}
            </div>
          {% endfor %}
        </aside>
      {% endif %}
    {% endwith %}
  </div>
</div>
{% endblock content %}